{% block _step_two_options_entry_label %}
{% endblock %}
{% block _step_two_options_row %}

    {{ block('form_row') }}

{% endblock %}

{% block _step_two_options_entry_row %}

    <tr>
        <td><strong>{{ value.name }}</strong></td>
        <td></td>
        <td></td>
    </tr>
    {{ block('form_row') }}
    <tr>
        <td colspan="3">&nbsp;</td>
    </tr>

{% endblock %}

{% block _step_two_options_entry_parts_entry_row %}

    <tr>
        <td>{{ form_label(form, value.name) }}</td>
        <td>&euro; {{ value.price|number_format(2, ',', '.') }} {{ value.discount ? 'discount'|trans }}</td>
        <td>{{ block('form_widget') }}</td>
    </tr>

{% endblock %}

{% block _step_two_cancellation_insurances_entry_row %}

    <tr>
        <td><label>{{ ('cancellation_insurances.' ~ value.name)|trans }}: {{ 'cancellation_insurances.travel_costs.booking'|trans({ '%percentage%': value.percentage, '%costs%': value.policyCosts }) }}</label></td>
        <td></td>
        <td>{{ block('form_widget') }}</td>
    </tr>

{% endblock %}