{% extends 'layouts/default.html.twig' %}

{% block breadcrumbs %}
    {{ breadcrumbs() }}
{% endblock %}

{% block body %}

    {{ parent() }}

    <section class="landing landing-page about-page">

        <div class="row">
            <div class="large-8 medium-8 columns">
                <h2>Wie zijn wij?</h2>
                <p>Chalet.nl, gevestigd in Woerden, is een zelfstandige touroperator en specialist in de verhuur van vrijstaande chalets en luxe appartementen van 2 tot 50 personen. Wintersportliefhebbers kunnen, via website, email, chat of telefoon, bij ons terecht voor het boeken van vakanties in Frankrijk, Oostenrijk, Zwitserland en Italië. </p>
                <p>Het ruime aanbod van grote chalets en appartementen is waar Chalet.nl bekend om staat en ook uniek in is. Naast de groepschalets kunnen ook gezinnen of kleine groepen kiezen voor de charme van een vrijstaand chalet of een luxe appartement. Je kunt je vakantie desgewenst aanvullen met bijvoorbeeld catering, skimateriaal en skilessen. Zo hoef je dit ter plekke niet meer te regelen en ga je goed voorbereid op reis!</p>

                <h2>Beste wintersport aanbieder 2015 en 2016</h2>
                <p>Op ons kantoor in Woerden, en in de Alpen, werken ruim 25 medewerkers met een passie voor wintersport. We streven naar een zo hoog mogelijke klanttevredenheid en we zijn erop gericht onze specialistische kennis te delen met de klant. Daar ligt onze toegevoegde waarde. In 2015 én 2016 is ons specialisme beloond met de <a href="./zoover-awards">Zoover Award voor beste wintersport aanbieder</a>. Een mooie bekroning op ons werk.</p>

                <h2>Wat doen wij nog meer?</h2>
                <p>Chalet.nl vakantiewoningen is eveneens eigenaar van: <a href="http://Chalet.be" target="_blank">Chalet.be</a>, <a href="http://Chaletonline.de" target="_blank">Chaletonline.de</a>, <a href="http://Zomerhuisje.nl" target="_blank">Zomerhuisje.nl</a> en <a href="https://www.italissima.nl/" target="_blank">Italissima.</a></p>

                <h2>Service en zekerheden bij Chalet.nl</h2>
                <p>De kwaliteit van de service staat hoog in het vaandel bij Chalet.nl. Als reisorganisatie hebben we je veel te bieden. Hieronder een overzicht van de voordelen:</p>

                <ul class="checked">
                    <li><strong>Persoonlijk advies</strong><br/>
                        Wij helpen je graag bij het vinden van een passende wintersportaccommodatie. Indien je je wensen aan ons doorgeeft, kunnen wij een aantal passende accommodaties op maat voor je uitzoeken. Is de accommodatie al volgeboekt? Dan bieden wij de mogelijke alternatieven.
                    </li>
                    <li><strong>Specialistische informatie</strong><br/>
                        Wij streven ernaar om al onze accommodaties persoonlijk te bezoeken. Je kunt bij ons dan ook terecht voor alle specifieke vragen over de accommodatie. En als wij het niet direct weten, dan zoeken we het voor je uit.</li>
                    <li><strong>Garantie op je vakantie</strong>
                        <ul>
                            <li>
                            Chalet.nl is lid van het SGR en het ANVR zodat je volgens de algemene reisvoorwaarden boekt en je vakantie gegarandeerd is. </li>
                             <li>
                            Noodgevallen: bij problemen tijdens je verblijf zijn wij altijd bereikbaar. Zeven dagen per week, dag en nacht.
                            </li>
                        </ul>
                    </li>
                    <li><strong>Veilig online boeken</strong>
                        <ul>
                        <li>
                        Ons boekingsproces is zorgvuldig opgezet en je ontvangt van ons een overzichtelijke bevestiging. Eventuele kosten die je ter plaatse kunt verwachten worden altijd vermeld, zowel op onze website als bij bevestiging van de boeking.</li>
                        <li>
                        Heb je nog wijzigingen of extra informatie nodig? Dit verzorgen wij, kosteloos, tot tenminste 4 weken voor vertrek. </li>
                        </ul>
                    </li>
                    <li><strong>Eerlijke prijzen</strong><br/>
                        Wij bieden accommodaties tegen eerlijke prijzen. Zie je ergens anders toch een lagere prijs, laat het ons dan weten.
                    </li>
                </ul>

                <h2>Werken bij Chalet.nl</h2>
                <p>Interesse in een functie binnen ons bedrijf of op zoek naar een stageplaats? Stuur je cv en motivatiebrief naar <a href="mailto:jetske@chalet.nl">jetske@chalet.nl</a> of neem contact op met Jetske Stols, tel: 0348-434649.</p>
            </div>
            <div class="large-4 columns">
                {% image 'bundles/app/img/content/overchalet/wie-zijn-wij-01.jpg' %}
                    <p><img id="zoover-logo" src="{{ asset_url }}" alt="Over Chalet" /></p>
                {% endimage %}
                {% image 'bundles/app/img/content/overchalet/wie-zijn-wij-03.jpg' %}
                    <p><img id="zoover-logo" src="{{ asset_url }}" alt="Over Chalet" /></p>
                {% endimage %}
                {% image 'bundles/app/img/content/overchalet/wie-zijn-wij-04.jpg' %}
                    <p><img id="zoover-logo" src="{{ asset_url }}" alt="Over Chalet" /></p>
                {% endimage %}
                {% image 'bundles/app/img/content/overchalet/wie-zijn-wij-05.jpg' %}
                    <p><img id="zoover-logo" src="{{ asset_url }}" alt="Over Chalet" /></p>
                {% endimage %}
                {% image 'bundles/app/img/content/overchalet/wie-zijn-wij-06.jpg' %}
                    <p><img id="zoover-logo" src="{{ asset_url }}" alt="Over Chalet" /></p>
                {% endimage %}
            </div>

        </div>

    </section>

{% endblock %}