{% extends 'layouts/default.html.twig' %}
{% set locale = get_locale() %}

{% block breadcrumbs %}
    {{ breadcrumbs() }}
{% endblock %}

{% block body %}

    {{ parent() }}

    <section class="landing landing-page contact-page">

        <div class="row">

            <div class="large-12 medium-12 columns">

                <h1>{{ 'booking-title'|trans }}</h1>

                    <iframe src="{{ old_site_url_prefix() }}ajaxloader.php" data-src="{{ old_site_url_prefix() }}connect-legacy-to-new-via-iframe/iframe.php?iframe=book&amp;tid={{ tid }}&amp;d={{ arrival_date }}&amp;ap={{ number_of_persons }}&amp;stap={{ booking_step }}&amp;bfbid={{ booking_id }}" class="connect-legacy-to-new-via-iframe" scrolling="no" frameborder="0"></iframe>

            </div>

        </div>

    </section>


{% endblock body %}


{% block javascripts %}

    {% include 'partials/iframe/iframe-javascript.html.twig' %}

{% endblock javascripts %}
