<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-title" content="Chalet.nl" />
        {% block seo %}{% endblock %}
        <title>{% block title %}Chalet.nl{% endblock %}</title>

        {% stylesheets 'bundles/app/css/foundation.css'
                       'bundles/app/css/app.css'
                       'bundles/app/css/slick.css'
                       'bundles/app/css/jqvmap.css'
                       'bundles/app/foundation-icons/foundation-icons.css'
					   'bundles/app/css/jquery.fancybox.css'
					   'bundles/app/css/tooltipster.css'
                       '@AppBundle/Resources/assets/css/faq.less'
                       '@AppBundle/Resources/assets/css/rate-table.less'
                       '@AppBundle/Resources/assets/css/header.less'
                       '@AppBundle/Resources/assets/css/favorites.less'
                       '@AppBundle/Resources/assets/css/tooltip.less'
                       '@AppBundle/Resources/assets/css/search-and-book.less'
                       '@AppBundle/Resources/assets/css/price-calculator.less'
                       '@AppBundle/Resources/assets/css/custom.less' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,700" />
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lobster" />

        {% javascripts 'bundles/app/js/vendor/modernizr.js'
                       '@AppBundle/Resources/assets/js/chalet.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">Chalet.import({{ js_object()|serialize()|raw }});</script>

        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    {% set _body_id    = block('bodyId') %}
    {% set _body_class = block('bodyClass') %}
    <body{% if _body_id is not empty %} id="{{ _body_id }}"{% endif %}{% if _body_class is not empty %} class="{{ _body_class }}"{%endif %}>

        {% include 'partials/header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'partials/footer.html.twig' %}

        {% javascripts 'bundles/app/js/vendor/jquery.js'
                       'bundles/app/js/vendor/underscore.js'
                       'bundles/app/js/vendor/jquery.color.js'
                       'bundles/app/js/vendor/jquery.scrollup.js'
                       'bundles/app/js/vendor/foundation.min.js'
                       'bundles/app/js/vendor/foundation/foundation.equalizer.js'
                       'bundles/app/js/vendor/jquery.placeholder.js'
                       'bundles/app/js/vendor/foundation/foundation.offcanvas.js'
                       'bundles/app/js/vendor/jqvmap/jqvmap.js'
                       'bundles/app/js/vendor/jqvmap/italy.map.js'
                       'bundles/app/js/vendor/foundation/responsive-tables.js'
                       'bundles/app/js/vendor/foundation/foundation.abide.js'
                       'bundles/app/js/vendor/slick.min.js'
					   'bundles/app/js/vendor/jquery.fancybox.js'
					   'bundles/app/js/vendor/jquery.fancybox-media.js'
                       'bundles/app/js/vendor/jquery.tooltip.js'
					   'bundles/app/js/vendor/uri.js'
                       'bundles/fosjsrouting/js/router.js'
                       'js/fos_js_routes.js'
                       'bundles/app/js/layout.js'
                       '@AppBundle/Resources/assets/js/app.js'
					   '@AppBundle/Resources/assets/js/maps/italy.js'
					   '@AppBundle/Resources/assets/js/autocomplete.js'
					   '@AppBundle/Resources/assets/js/search.js'
                       '@AppBundle/Resources/assets/js/favorite.js'
                       '@AppBundle/Resources/assets/js/social.js' %}

            <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}

        {% set website_concern = website() %}
        {% set chat            = website_concern.getConfig(constant('WEBSITE_CONFIG_CHAT',       website_concern)) %}
        {% set trustpilot      = website_concern.getConfig(constant('WEBSITE_CONFIG_TRUSTPILOT', website_concern)) %}

        {% if trustpilot != false %}
            <script async type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js"></script>
        {% endif %}

        {% if chat != false %}
            <script type="text/javascript">
            var __lc = {
                license: {{ chat_license }},
                group: {{ chat|split('-')|first }}
            };

            (function() {
            	var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
            	lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
            	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
            })();
            </script>

        {% endif %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
