        
        <div class="header-container hide-on-load">
            <div class="row header">
                <div class="small-3 columns column-logo">
                    <a href="#">
                        {% image 'bundles/app/img/logos/chalet.svg' %}<img id="logo" src="{{ asset_url }}" alt="Chalet home" />{% endimage %}
                    </a>
                </div>
                <div class="small-5 columns column-contact">
                    <span class="small-up">
                        {% set website_concern = website() %}
                        {% set chat            = website_concern.getConfig(constant('WEBSITE_CONFIG_CHAT', website_concern)) %}
                        {% if chat != false %}
                            {% set chat = chat|split('-')[1] %}
                            <a href="#" data-role="chat-button" data-id="{{ chat }}" id="contact-chat"><i class="fi-comments"></i>Chat</a>
                            <span class="medium-up">{{ "general.or"|trans }}</span>
                        {% endif %}
                        <span class="show-for-small"></span>
                        <a href="tel:+31-348-434649"><i class="fi-telephone"></i>0348 - 43 46 49</a>
                    </span>
                    <span class="medium-up"><br /><i class="fi-clock"></i>{{ "header.bar.open-now"|trans }}</span><span class="medium-up"> <a href="{{ locale_path('contact') }}" id="opening-hours-contact">{{ "header.bar.opening-hours-contact"|trans }}</a></span>
                </div>
                <div class="small-4 columns column-lists">
                    
                    <div class="right">
                        
                        <div class="row zoover">
                            
                            <div class="small-12">
                                <a href="#">
                                    {% image 'bundles/app/img/logos/logo-zoover-awards.png' %}<img id="logo" src="{{ asset_url }}" alt="Chalet home" />{% endimage %}
                                </a>
                            </div>
                            
                        </div>
                    
                        <div class="lists-container" id="dropdown-container" data-role="saved-item">
                            <!-- this button gets class="active" after: 1. first visit / 2. click on heart-icon -->
                            <button id="dropdown-saved" data-role="saved-item" class="button dropdown radius right" href="#" data-dropdown="dropdown-saved-list" aria-controls="dropdown-saved-list" aria-expanded="false">
                                <i class="fi-heart"></i>{{ "header.bar.seen-and-saved"|trans }}<i class="fi-play"></i>
                            </button>
                            <br />
                            <ul id="dropdown-saved-list" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
                                <li><a href="{{ locale_path('page_viewed') }}">Bekeken vakanties (<span data-role="viewed-count">{{ viewed_count() }}</span>)</a></li>
                                <li><a href="{{ locale_path('page_searches') }}">Zoekopdrachten (<span data-role="searches-count">{{ searches_count() }}</span>)</a></li>
                                <li><a href="{{ locale_path('page_saved') }}">Bewaarde vakanties (<span data-role="favorites-count">{{ favorites_count() }}</span>)</a></li>
                                <li><a href="zoekboek.html">Mijn boekingen</a></li>
                            </ul>
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
        </div>