{% extends 'layouts/base.html.twig' %}

{% block bodyId %}home{% endblock %}
{% block body %}

    {% set search_path = locale_path('search') %}
    <!-- header -->
    <header>
        <div class="home-menu">
            <div class="row">
                <div class="small-9 small-offset-3">
                    <ul>
                        <li class="home active"><a href="#"><i class="fi-home"></i></a></li>
                        <li><a href="{{ locale_path('search') }}">zoek en boek</a></li>
                        <li><a href="{{ locale_path('all_regions') }}">skigebieden</a></li>
                        <li><a href="#">aanbiedingen</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="header-container">
            <div id="header-usp">
                <div class="large-12 columns">
                    <h2 class="title-usp">{{ "homepage.big-title"|trans }}<span>{{ "homepage.sub-title"|trans }}</span></h2>
                </div>
            </div>
            <div class="row" id="header-form-fields">
                <form>
                    <div class="large-3 medium-3 columns">
                        <div class="autocomplete-container">
                            <input type="text" name="query" data-role="autocomplete-query" data-type="home" id="choose-destination" class="radius home" placeholder="Waar wil je naar toe?"  />
                            <div class="results" data-role="autocomplete-results">
                            </div>
                        </div>
                        <div class="large-3 medium-3 columns">
                            <select class="radius">
                                <option value="husker">Wanneer wil je gaan?</option>
                                <option value="1423868400">weekend 14 februari 2015</option>
                                <option value="1424473200">weekend 21 februari 2015</option>
                                <option value="1425078000">weekend 28 februari 2015</option>
                                <option value="1425682800">weekend 7 maart 2015</option>
                                <option value="1426287600">weekend 14 maart 2015</option>
                                <option value="1426892400">weekend 21 maart 2015</option>
                                <option value="1427497200">weekend 28 maart 2015</option>
                                <option value="1428098400">weekend 4 april 2015</option>
                                <option value="1428703200">weekend 11 april 2015</option>
                                <option value="1429308000">weekend 18 april 2015</option>
                                <option value="1429912800">weekend 25 april 2015</option>
                                <option value="1430517600">weekend 2 mei 2015</option>
                            </select>
                        </div>
                        <div class="large-3 medium-3 columns">
                            {# we have two select items because of text switching when resizing viewport (medium ('Hoeveel personen') vs rest ('Met hoeveel personen ga je?')) #}
                            <select class="radius hide-for-medium">
                                <option value="hoeveel">Met hoeveel personen ga je?</option>
                                {% for i in 1..39 %}
                                <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                                <option value="40">40 of meer</option>
                            </select>

                            <select class="radius show-for-medium">
                                <option value="hoeveel">Hoeveel personen?</option>
                                {% for i in 1..39 %}
                                <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                                <option value="40">40 of meer</option>
                            </select>
                        </div>
                        <div class="large-3 medium-3 columns">
                            <a href="{{ search_path }}" data-role="search-simple" class="button radius right" title="Toon resultaten op Chalet.nl"><i class="fi-magnifying-glass"></i>Toon <span>1.209</span> resultaten</a><br />
                            <a href="{{ search_path }}" data-role="search-advanced" class="link right" title="Uitgebreid zoeken op Chalet.nl">Uitgebreid zoeken</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

{% endblock %}
