{% set website_concern = website() %}
{% set twitter         = website_concern.getConfig(constant('WEBSITE_CONFIG_TWITTER',   website_concern)) %}
{% set facebook        = website_concern.getConfig(constant('WEBSITE_CONFIG_FACEBOOK',  website_concern)) %}
{% set google          = website_concern.getConfig(constant('WEBSITE_CONFIG_GOOGLE',    website_concern)) %}
{% set pinterest       = website_concern.getConfig(constant('WEBSITE_CONFIG_PINTEREST', website_concern)) %}
<footer>
    <div class="row">
        <div class="large-3 medium-3 columns">
            <h4>Waarom {{ website_concern.name() }}</h4>
            <ul class="checked">

                <li>{{ years_active() }} jaar winterspecialist</li>
                <li>Veel grote chalets</li>
                <li>Kwaliteit</li>
                <li>Persoonlijke service</li>
                <li>Prijsbewust</li>
                <li>Lid SGR en ANVR</li>
            </ul>
            <h4>{{ website_concern.name() }}</h4>
            <p>
                Wipmolenlaan 3<br />3447 GJ Woerden<br /><i class="fi-mail"></i><a href="mailto:info@chalet.nl">info@chalet.nl</a><br /><i class="fi-telephone"></i><a href="tel:+31-348-434649">0348 43 46 49</a>
            </p>
        </div>
        <div class="large-3 medium-3 columns">
            <h4>Meer informatie</h4>
            <ul class="arrowed">
                <li><a href="/inloggen.php" target="_blank">Mijn boeking</a></li>
                <li><a href="{{ locale_path('page_about') }}">{{ 'about'|trans }}</a></li>
                <li><a href="{{ locale_path('page_insurances') }}">{{ 'insurances'|trans }}</a></li>
                <li><a href="{{ locale_path('contact') }}">{{ 'contact'|trans }}</a></li>
                <li><a href="{{ locale_path('page_faq') }}">{{ 'faq'|trans }}</a></li>
                <li><a href="{{ locale_path('page_terms') }}">{{ 'terms'|trans }}</a></li>
                <li><a href="{{ locale_path('page_disclaimer') }}">{{ 'disclaimer'|trans }}</a></li>
                <li><a href="{{ locale_path('page_privacy') }}">{{ 'privacy'|trans }}</a></li>
                <li><a href="{{ locale_path('sitemap') }}">{{ 'sitemap'|trans }}</a></li>
                <li><a href="{{ locale_path('weekendski') }}">{{ 'weekendski'|trans }}</a></li>
            </ul>
        </div>
        <div class="large-3 medium-3 columns">
            <h4>{{ 'pay.safely'|trans }}</h4>
            <i class="sprite sprite-payment-ideal"></i>
            <i class="sprite sprite-payment-bankcontact"></i>
            <i class="sprite sprite-payment-visa"></i>
            <i class="sprite sprite-payment-mastercard"></i>
            <h4>{{ 'affiliated.with'|trans }}</h4>
            <img src="{{ asset('bundles/app/img/icons/logo-anvr-sgr-calamiteiten.png') }}" class="anvr-sgr-calamities" />
            <h4>Reviews</h4>
            <div class="trustpilot-widget" data-locale="nl-NL" data-template-id="53aa8807dec7e10d38f59f32" data-businessunit-id="4f3bde44000064000512e75b" data-style-height="100%" data-style-width="216px" data-theme="light"></div>
        </div>
        <div class="large-3 medium-3 columns">
            <h4>Social media</h4>
            {% if twitter != false %}
                <a href="https://twitter.com/{{ twitter }}" data-role="new-window"><i class="sprite sprite-social-twitter-big icon-overlay"></i></a>
            {% endif %}
            {% if facebook != false %}
                <a href="https://facebook.com/{{ facebook }}" data-role="new-window"><i class="sprite sprite-social-fb-big icon-overlay"></i></a>
            {% endif %}
            {% if google != false %}
                <a href="https://plus.google.com/{{ google }}" data-role="new-window"><i class="sprite sprite-social-plus-big icon-overlay"></i></a>
            {% endif %}
            {% if pinterest != false %}
                <a href="https://www.pinterest.com/{{ pinterest }}" data-role="new-window"><i class="icon icon-pinterest icon-overlay"></i></a>
            {% endif %}
            <div id="footer-newsletter">
                <h4>Nieuwsbrief</h4>
                <p>Mis geen aanbiedingen, nieuws en reistips.</p>
                <form name="newsletter-form" action="{{ path('newsletter') }}" method="get">
                    <div class="email-field">
                        <input name="email" type="email" placeholder="e-mailadres" required />
                    </div>
                    <button type="submit" class="button radius tiny">Inschrijven</button>
                </form>
            </div>
        </div>
    </div>
    {% set france      = 'france'|trans %}
    {% set austria     = 'austria'|trans %}
    {% set switzerland = 'switzerland'|trans %}
    {% set italy       = 'italy'|trans %}
    <section id="footer-links" class="hide-for-small">
        <div class="row">
            <div class="large-3 medium-3 columns">
                <h4>Inspiratie</h4>
                <ul class="arrowed">
                    <li><a href="{{ locale_path('show_theme', {url: '2016-2017'}) }}">Wintersport 2016/2017</a></li>
                    <li><a href="{{ locale_path('show_theme', {url: 'aan-de-piste'}) }}">Aan de piste</a></li>
                    <li><a href="{{ locale_path('show_theme', {url: 'wellness'}) }}">Winter-wellness</a></li>
                    <li><a href="{{ locale_path('show_theme', {url: 'catering'}) }}">Gemak van catering</a></li>
                    <li><a href="{{ locale_path('show_theme', {url: 'groepen'}) }}">Grote groepen</a></li>
                    <li><a href="{{ locale_path('themes') }}">Meer inspiratie</a></li>
                </ul>
            </div>
            <div class="large-3 medium-3 columns">
                <h4>Onze bestemmingen</h4>
                <ul class="arrowed">
                    <li><a href="{{ locale_path('show_country', { countrySlug: france }) }}">Wintersport in {{ france }}</a></li>
                    <li><a href="{{ locale_path('show_country', { countrySlug: austria }) }}">Wintersport in {{ austria }}</a></li>
                    <li><a href="{{ locale_path('show_country', { countrySlug: switzerland }) }}">Wintersport in {{ switzerland }}</a></li>
                    <li><a href="{{ locale_path('show_country', { countrySlug: italy }) }}">Wintersport in {{ italy }}</a></li>
                </ul>
            </div>
            <div class="large-3 medium-3 columns">
                <h4>Populaire skigebieden</h4>
                <ul class="arrowed">
                    <li><a href="{{ locale_path('show_region', { regionSlug: 'Les-Trois-Vallees' }) }}">Wintersport in Les Trois Vall&eacute;es</a></li>
                    <li><a href="{{ locale_path('show_region', { regionSlug: 'Paradiski-Les-Arcs' }) }}">Wintersport in Les Arcs / Paradiski</a></li>
                    <li><a href="{{ locale_path('show_region', { regionSlug: 'Zillertal' } )}}">Wintersport in Zillertal</a></li>
                    <li><a href="{{ locale_path('show_region', { regionSlug: 'Zell-am-See-Kaprun' } ) }}">Wintersport in Zell am See / Kaprun</a></li>
                    <li><a href="{{ locale_path('show_region', { regionSlug: 'Les-Deux-Alpes' }) }}">Wintersport in Les Deux Alpes</a></li>
                </ul>
            </div>
            <div class="large-3 medium-3 columns">
                <h4>Populaire skidorpen</h4>
                <ul class="arrowed">
                    <li><a href="{{ locale_path('show_place', { placeSlug: 'Konigsleiten' } ) }}">Wintersport in K&ouml;nigsleiten</a></li>
                    <li><a href="{{ locale_path('show_place', { placeSlug: 'Zell-am-See' }) }}">Wintersport in Zell am See</a></li>
                    <li><a href="{{ locale_path('show_place', { placeSlug: 'Val-Thorens' }) }}">Wintersport in Val Thorens</a></li>
                    <li><a href="{{ locale_path('show_place', { placeSlug: 'Chatel' }) }}">Wintersport in Ch&acirc;tel</a></li>
                    <li><a href="{{ locale_path('show_place', { placeSlug: 'Les-Menuires' }) }}">Wintersport in Les Menuires</a></li>
                </ul>
            </div>
        </div>
    </section>
</footer>
