{#

create div with internal cms info (to be placed in header)

called from:
- partials/header.html.twig

#}
{% set cmsinfo = get_cms_info() %}
<div class="cms-info">
    {% if showLinkWithoutInternalInfo is defined and showLinkWithoutInternalInfo == true %}
        <ul class="border-right">
    {% else %}
        <ul>
    {% endif %}

        <li>
            <a href="/cms.php" target="_blank">cms</a>: {{ cmsinfo.firstname }} - server: {{ cmsinfo.server }}
        </li>
        {% if cmsLinks is defined %}
            {% for cmsLink in cmsLinks %}
                <li>
                    <a href="{{ cmsLink.url }}"{% if cmsLink.target_blank is defined and cmsLink.target_blank == true %} target="_blank"{% endif %}>{{ cmsLink.name}}</a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>

    {% if showLinkWithoutInternalInfo is defined and showLinkWithoutInternalInfo == true %}
        <div class="link-without-internal-info">
            <a href="{{ cmsinfo.link_to_hide_internal_info }}">verberg interne info</a>
        </div>

    {% endif %}
</div>