
        <article class="overview sale" id="F242">
            <div class="row">
                <div class="title-ipad title medium-12 columns">
                    Chalet Le Clos du Pré
                    <span><img src="{{ asset('bundles/app/img/icons/star.png') }}" alt="" /><img src="{{ asset('bundles/app/img/icons/star.png') }}" alt="" /><img src="{{ asset('bundles/app/img/icons/star.png') }}" alt="" /><img src="{{ asset('bundles/app/img/icons/star.png') }}" alt="" /><img src="{{ asset('bundles/app/img/icons/star-empty.png') }}" alt="" /></span>
                </div>
                <div class="small-12 medium-5 large-5 columns">
                    <div class="accom-img">
                        <div class="accom-slides">
                            <div><img data-lazy="{{ asset('bundles/app/img/accom/accom-1.jpg') }}" alt="" /></div>
                            <div><img data-lazy="{{ asset('bundles/app/img/accom/accom-2.jpg') }}" alt="" /></div>
                            <div><img data-lazy="{{ asset('bundles/app/img/accom/accom-3.jpg') }}" alt="" /></div>
                        </div>
                        <div class="circle"><span>Aan-</span><span>bieding</span></div>
                        <div class="heart"><a href="" title="Dit resultaat opslaan in mijn favorieten"><i class="fi-heart"></i></a></div>
                    </div>
                </div>
                <div class="small-12 medium-7 large-7 columns">
                    <div class="accom-desc">
                        <div class="row">
                            <div class="small-12 medium-7 large-8 columns">
                                <div class="location">
                                    <span class="area">Alpe d'Huez (Grand Domaine)</span>, <span class="city">Oz-en-Oisans</span>, <span class="country">Frankrijk</span>
                                </div>
                                <div class="title">
                                    Chalet Le Clos du Pré
                                    <span><img src="{{ asset('bundles/app/img/icons/star.png') }}" alt="" /><img src="{{ asset('bundles/app/img/icons/star.png') }}" alt="" /><img src="{{ asset('bundles/app/img/icons/star.png') }}" alt="" /><img src="{{ asset('bundles/app/img/icons/star.png') }}" alt="" /><img src="{{ asset('bundles/app/img/icons/star-empty.png') }}" alt="" /></span>
                                </div>
                            </div>
                            <div class="small-12 medium-5 large-4 columns price-details">
                                <span class="price-info">Prijs per persoon per week, vanaf</span>
                                <span class="price has-tip tip-left radius" data-tooltip aria-haspopup="true" title="[uitgebreide prijsinformatie bij dit zoekresultaat]">&euro; 265,-<i class="fi-info"></i></span>
                                <span class="price-inc"><i class="sprite sprite-icon-skipass"></i>Inclusief skipas</span>
                            </div>
                        </div>
                        <p>Ruime vrijstaande chalets op korte afstand van piste in Oz-en-Oisans. Mooi autovrij chaletpark bestaande uit 33 imposante vrijstaande chalets.</p>
                    </div>
                </div>
            </div>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th><span>Per</span>sonen</th>
                            <th><span>Slaap</span>kamers</th>
                            <th><span>Bad</span>kamers</th>
                            <th>Type</th>
                            <th>Beoordeling</th>
                            <th>&nbsp;</th>
                            <th><span>Prijs accom</span>modatie</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="sale-type"><!-- notice this row is in discount -->
                            <td><i class="sprite sprite-icon-torso"></i>6</td>
                            <td><i class="sprite sprite-icon-sleep"></i>4</td>
                            <td><i class="sprite sprite-icon-bath"></i>2</td>
                            <td>Type 1a</td>
                            <td><span>8,5</span></td>
                            <td><i class="sprite sprite-icon-discount"></i></td>
                            <td>&euro; 295,-<i class="fi-info"></i></td>
                        </tr>
                        <tr>
                            <td><i class="sprite sprite-icon-torso"></i>8-10</td>
                            <td><i class="sprite sprite-icon-sleep"></i>4</td>
                            <td><i class="sprite sprite-icon-bath"></i>2</td>
                            <td>Type 1</td>
                            <td><span>7,5</span></td>
                            <td>&nbsp;</td>
                            <td>&euro; 270,-<i class="fi-info"></i></td>
                        </tr>
                        <tr class="sale-type"><!-- notice this row is in discount -->
                            <td><i class="sprite sprite-icon-torso"></i>11-12</td>
                            <td><i class="sprite sprite-icon-sleep"></i>6</td>
                            <td><i class="sprite sprite-icon-bath"></i>3</td>
                            <td>Type 3, met sauna</td>
                            <td><span>9,2</span></td>
                            <td><i class="sprite sprite-icon-discount"></i></td>
                            <td>&euro; 290,-<i class="fi-info"></i></td>
                        </tr>
                        <tr class="sale-type"><!-- notice this row is in discount -->
                            <td><i class="sprite sprite-icon-torso"></i>12</td>
                            <td><i class="sprite sprite-icon-sleep"></i>6</td>
                            <td><i class="sprite sprite-icon-bath"></i>3</td>
                            <td>Type 3</td>
                            <td><span>9,1</span></td>
                            <td><i class="sprite sprite-icon-discount"></i></td>
                            <td>&euro; 320,-<i class="fi-info"></i></td>
                        </tr>
                        <tr>
                            <td><i class="sprite sprite-icon-torso"></i>16-18</td>
                            <td><i class="sprite sprite-icon-sleep"></i>7</td>
                            <td><i class="sprite sprite-icon-bath"></i>5</td>
                            <td>Type 4</td>
                            <td><span>8,1</span></td>
                            <td>&nbsp;</td>
                            <td>&euro; 265,-<i class="fi-info"></i></td>
                        </tr>
                    </tbody>
                </table>
                <div class="table-explain">
                    <p>
                        <span>U kunt deze tabel horizontaal scrollen</span>
                        <i class="sprite sprite-cursor-explain"></i>
                        <a href="" class="button tiny radius">ik heb het begrepen</a>
                    </p>
                </div>
            </div>
        </article>
    </div>
</div>