{#

create div with accommodation highlight

called from:
- partials/highlight/highlights.html.twig
- places/show.html.twig
- pages/viewed.html.twig
- pages/saved.html.twig

#}
{% set locale = get_locale() %}
{% set offer  = offers is defined and offers[highlight.type_id] is defined %}
{% set link   = locale_path('show_type', { countryCode: highlight.country_code, typeId: highlight.type_id }) %}

<div class="small-{{ small_size|default(12) }} medium-{{ medium_size|default(4) }} large-{{ large_size|default(4) }} columns {% if end == true %}end{% endif %}">
    <article class="overview{% if offer %} sale{% endif %}" data-equalizer-watch>
        <div class="accom-img">
            <a href="{{ link }}"><img src="{{ generate_image_path(type_image(highlight))|thumbnail(364, 273) }}" alt="{{ highlight.accommodation_name }}" /></a>
            {% if offer %}
                <a href="{{ link }}">
                    <div class="circle"><span>Aan-</span><span>bieding</span></div>
                </a>
            {% endif %}
            {% if surveys.count is defined and surveys.count > 1 %}
                <a href="{{ link }}">
                    <div class="rating"><span class="figure">{{ surveys.average|round(1) }}</span><span class="reviews-number">{{ surveys.count }} {{ 'ratings'|trans|lower }}</span></div>
                </a>
            {% endif %}
        </div>
        <a href="{{ link }}">
            <div class="accom-desc">
                <div class="title">
                    {{ ('type.kind.' ~ highlight.accommodation_kind)|trans|capitalize ~ ' ' ~ highlight.accommodation_name ~ ' ' ~ highlight.type_name }}
                    <span>
                        {% set quality = (highlight.type_quality > 0 ? highlight.type_quality : highlight.accommodation_quality) %}
                        {% include 'partials/quality_stars.html.twig' with {quality: quality} only %}
                    </span>
                </div>
                <div class="location">
                    <span class="city">{{ highlight.place_name}}</span>,
                    <span class="area">{{ highlight.region_name }}</span>,
                    <span class="country">{{ highlight.country_name }}</span>
                </div>
                {% if highlight.optimal_persons is same as(highlight.max_persons) %}
                    <div class="persons"><i class="fi-torso"></i>{{ 'homepage.highlight.suitable-for-max'|trans({'%maximum%': highlight.max_persons}) }}</div>
                {% else %}
                    <div class="persons"><i class="fi-torso"></i>{{ 'homepage.highlight.suitable-for'|trans({'%optimal%': highlight.optimal_persons, '%maximum%': highlight.max_persons}) }}</div>
                {% endif %}
            </div>
        </a>
    </article>
</div>