{% extends 'layouts/default.html.twig' %}
{% set locale = get_locale() %}

{% block breadcrumbs %}
    {{ breadcrumbs() }}
{% endblock %}

{% block body %}

    {{ parent() }}

    <section class="landing landing-page contact-page">

        <div class="row">

            <div class="large-8 medium-8 columns">

                <h1>{{ 'disclaimer-title'|trans }} {{ website.name() }}</h1>

                <h2>Algemeen</h2>
                <p>
                    Chalet.nl B.V. (Kamer van Koophandel 30209634), hierna te noemen Chalet.nl Vakantiewoningen, verleent u hierbij toegang tot {{ website.name() }} (de Website) en nodigt u uit het aangebodene te boeken. Chalet.nl Vakantiewoningen behoudt zich daarbij het recht voor op elk moment de inhoud aan te passen of onderdelen te verwijderen zonder daarover aan u mededeling te hoeven doen.
                </p>

                <h2>Beperkte aansprakelijkheid</h2>
                <p>
                    Chalet.nl Vakantiewoningen spant zich in om de inhoud van de Website zo vaak mogelijk te actualiseren en/of aan te vullen. Ondanks deze zorg en aandacht is het mogelijk dat inhoud onvolledig en/of onjuist is.
                </p>

                <p>
                    Specifiek voor <strong>prijzen</strong> en andere informatie over producten op de Website geldt een voorbehoud van kennelijke programmeer- en typefouten. U kunt op basis van dergelijke fouten geen overeenkomst claimen met Chalet.nl Vakantiewoningen.
                </p>

                <h2>Auteursrechten</h2>
                <p>
                    Alle rechten van intellectuele eigendom betreffende deze materialen liggen bij Chalet.nl Vakantiewoningen.  Kopi&euml;ren, verspreiden en elk ander gebruik van deze materialen is niet toegestaan zonder schriftelijke toestemming van Chalet.nl Vakantiewoningen, behoudens en slechts voor zover anders bepaald in regelingen van dwingend recht (zoals citaatrecht), tenzij bij specifieke materialen anders aangegeven is.
                </p>
            </div>

        </div>
    </section>

{% endblock body %}