{% extends 'layouts/default.html.twig' %}

{% set title = 'destinations'|trans %}
{% block title %}{{ title }}{% endblock %}

{% block seo %}

    {% include 'layouts/seo-block.html.twig' with {

        'meta_title':       title,
        'meta_description': 'Bestemmingen in Italië'

    } only %}

{% endblock %}

{% block breadcrumbs %}
    {{ breadcrumbs() }}
{% endblock %}

{% block body %}
    
    {{ parent() }}

    <h1>{{ 'destinations'|trans }}</h1>
    
    <section class="landing bottom_spacer" style="position:inherit;">
        <div class="row">
            <div class="large-8 columns">
                <div data-role="italy-maps" style="width: 490px; height: 590px;"></div>
            </div>
            <div class="large-4 columns end">
                <ul class="destination-regions" data-role="region-list">
                    {% for region in regions %}
                    <li data-role="region" data-region-id="{{ region.getId() }}" data-region-name="{{ region.getLocaleName(get_locale()) }}" data-region-types-count="{{ region.getTypesCount() }}">
                        <a href="{{ locale_path('show_region', {'regionSlug': region.getLocaleSeoName(get_locale())}) }}">
                            ({{ region.getId() }}) - {{ region.getLocaleName(get_locale()) }} ({{ region.getTypesCount() }})
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="hide" data-role="pin-html" data-pin-id="IT-230">
            <div data-role="pin-content" class="pin_content">&nbsp;</div><div data-role="pin-tooltip" class="pin_tip jqvmap-label"></div>
        </div>
    </div>
    
{% endblock %}