{% extends 'layouts/default.html.twig' %}

{% block breadcrumbs %}
    {{ 
        breadcrumbs({
            countryName: country.getLocaleName(get_locale()), 
            regionName:  region.getLocaleName(get_locale())
        }, {
            countrySlug: country.getLocaleName(get_locale())
        })
    }}
{% endblock %}

{% block body %}
    
    {{ parent() }}
    
    <!-- content -->
    <section class="landing region-page">
        <div class="row" id="area-specs"><!-- id="area-specs" -->
            <h1>{{ 'Wintersport'|trans }} {{ region.getLocaleName(get_locale()) }}</h1>
        </div>
        <div class="row">
            <div class="large-8 medium-8 columns">
                <h2>{{ region.getLocaleShortDescription(get_locale())|nl2br }}</h2>
                <p>{{ region.getLocaleDescription(get_locale())|bbcode|nl2br }}</p>
                <h3><a href="{{ locale_path('show_region', {regionSlug: region.getLocaleSeoName(get_locale())}) }}" class="button small radius" title="Bekijk het gehele aanbod">Bekijk al onze chalets en appartementen in {{ region.getLocaleName(get_locale()) }}</a></h3>
                
            </div>
            <div class="large-4 medium-4 columns">
                <h5>{{ 'features'|trans }} {{ region.getLocaleName(get_locale()) }}</h5>
                {% 
                    include 'partials/features.html.twig' with { 
                    
                        typesCount: region.getTypesCount(), 
                        averageRatings: region.getAverageRatings(), 
                        ratingsCount: region.getRatingsCount()
                        
                    } only 
                %}
                <h6>{{ 'additional-info'|trans }}</h6>
                <ul class="landing-details landing-details-short" data-role="long-list">
                    {% if region.getTotalLifts() %}
                    <li>
                        {{ 'total-lifts'|trans }}
                        <span>{{ region.getTotalLifts() }}</span>
                    </li>
                    {% endif %}
                    {% if region.getTotalChairLifts() %}
                    <li>
                        {{ 'total-chair-lifts'|trans }}
                        <span>{{ region.getTotalChairLifts() }}</span>
                    </li>
                    {% endif %}
                    {% if region.getTotalSkiTowsLifts() %}
                    <li>
                        {{ 'total-ski-tows-lifts'|trans }}
                        <span>{{ region.getTotalSkiTowsLifts() }}</span>
                    </li>
                    {% endif %}
                    {% if region.getTotalCabineLifts() %}
                    <li>
                        {{ 'total-cabine-lifts'|trans }}
                        <span>{{ region.getTotalCabineLifts() }}</span>
                    </li>
                    {% endif %}
                    {% if region.getTotalSlopesDistance() %}
                    <li>
                        {{ 'length-ski-runs'|trans }}
                        <span>{{ region.getTotalSlopesDistance() }} km</span>
                    </li>
                    {% endif %}
                    {% if region.getTotalBlueSlopesDistance() %}
                    <li>
                        {{ 'length-blue-ski-runs'|trans }}
                        <span>{{ region.getTotalBlueSlopesDistance() }} km</span>
                    </li>
                    {% endif %}
                    {% if region.getTotalBlueSlopesDistance() %}
                    <li>
                        {{ 'length-red-ski-runs'|trans }}
                        <span>{{ region.getTotalRedSlopesDistance() }} km</span>
                    </li>
                    {% endif %}
                    {% if region.getTotalBlackSlopesDistance() %}
                    <li>
                        {{ 'length-black-ski-runs'|trans }}
                        <span>{{ region.getTotalBlackSlopesDistance() }} km</span>
                    </li>
                    {% endif %}
                    {% if region.getTotalTrailsDistance() %}
                    <li>
                        {{ 'length-trails'|trans }}
                        <span>{{ region.getTotalTrailsDistance() }} km</span>
                    </li>
                    {% endif %}
                    <li class="toggle" data-role="toggle-long-list">
                        <i class="sprite sprite-icon-close-all" data-role="toggle-icon-long-list" data-closed-icon="sprite-icon-close-all" data-opened-icon="sprite-icon-open-all"></i>
                    </li>
                </ul>
                <h6>{{ 'links'|trans }}</h6>
                <ul class="landing-details">
                    <li>
                        <a href="{{ region.getWebcamLink() }}" data-role="new-window">{{ 'webcam'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ region.getWeatherReportLink() }}" data-role="new-window">{{ 'weather-report'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ region.getSkiRunsMapLink() }}" data-role="new-window">{{ 'ski-runs-map'|trans }}</a>
                    </li>
                </ul>
                <h6>{{ 'ski-runs-map'|trans }}</h6>
                <img src="{{ region_ski_run_map(region) }}" />
            </div> 
        </div>
    </section>
    
    <section id="area-selected" class="region-page">
        <h4>{{ 'places'|trans}} {{ region.getLocaleName(get_locale()) }}</h4>
        <div class="row" data-equalizer>
            {% for place in places %}
            <div class="small-12 medium-3 large-3 columns{{ (( ((loop.index % 4) is same as(0)) or loop.last) ? ' end' : '') }}">
                <article class="overview" data-equalizer-watch>
                    <div class="accom-img">
                        <img src="{{ place_image(place) }}" alt="{{ place.getLocaleName(get_locale()) }}" />
                    </div>
                    <div class="accom-desc">
                        <div class="title"><a href="{{ locale_path('show_place', {placeSlug: place.getLocaleSeoName(get_locale())}) }}">{{ place.getLocaleName(get_locale()) }}</a></div>
                        <br />
                        <div class="chalets"><i class="sprite sprite-gray-chalet"></i><strong>{{ place.getTypesCount() }}</strong> {{ 'chalets-apartments'|trans }}</div>
                        <div class="chalets"><i class="sprite sprite-gray-mountain"></i><strong>{{ place.getAltitude() }}</strong> m {{ 'altitude'|trans }}</div>
                        <div class="chalets"><i class="fi-compass"></i> <strong>{{ place.getDistanceFromUtrecht() }}</strong> km {{ 'distance-to-utrecht'|trans }}</div>
                    </div>
                </article>
            </div>
            {% if (loop.index % 4) is same as(0) %}
            </div><div class="row" data-equalizer>
            {% endif %}
            {% endfor %}
        </div>
    </section>

    {% include 'partials/countries.html.twig' with { active_country: country.getStartCode() } only %}
    
{% endblock %}