{% extends 'layouts/default.html.twig' %}

{% set locale                 = get_locale() %}
{% set accommodation          = type.getAccommodation() %}
{% set country, region, place = accommodation.getPlace().getCountry(), accommodation.getPlace().getRegion(), accommodation.getPlace() %}
{% set images                 = type_images(type) %}
{% set surveyCount            = surveyData.surveys|length %}
{% set surveyAverage          = surveyData.average %}
{%
    set localeData = {

        name: {

            country:       country.getLocaleName(locale),
            region:        region.getLocaleName(locale),
            place:         place.getLocaleName(locale),
            accommodation: accommodation.getLocaleName(locale),
            type:          type.getLocaleName(locale)
        },
        seo:  {

            country: country.getLocaleName(locale),
            region:  region.getLocaleSeoName(locale),
            place:   place.getLocaleSeoName(locale)
        }
    }
%}

{% block breadcrumbs %}

    {{
        breadcrumbs({

            countryName:       localeData['name']['country'],
            regionName:        localeData['name']['region'],
            placeName:         localeData['name']['place'],
            accommodationName: localeData['name']['accommodation']

        }, {

            countrySlug: localeData['seo']['country'],
            regionSlug:  localeData['seo']['region'],
            placeSlug:   localeData['seo']['place'],
        })
    }}

{% endblock %}

{% block body %}

    {{ parent() }}

    <section id="accom" class="discount type-section">
        <div class="row">
            <div id="accom-left" class="small-12 medium-8 large-9 columns">
                <div class="overview{% if offers[type.getId()] is defined %} sale{%endif %}">
                    <div class="accom-desc">
                        <h1>{{ ('type.kind.' ~ accommodation.getKindIdentifier() )|trans ~ ' ' ~ localeData['name']['accommodation'] }}</h1>
                        <div class="location">
                            <span class="area"><a href="{{ locale_path('show_region', { regionSlug: localeData['seo']['region'] }) }}" title="{{ localeData['name']['region'] }}">{{ localeData['name']['region'] }}</a></span>, <span class="city"><a href="{{ locale_path('show_place', { placeSlug: localeData['seo']['place'] }) }}" title="{{ localeData['name']['place'] }}">{{ localeData['name']['place'] }}</a></span>, <span class="country"><a href="{{ locale_path('show_country', { countrySlug: localeData['seo']['country'] } ) }}" title="{{ localeData['name']['country'] }}">{{ localeData['name']['country'] }}</a></span>
                        </div>
                        <div class="type">{% if localeData['name']['type'] is not empty %}<h3>{{ localeData['name']['type'] }} </h3>{% endif %}<a href="#types-other" class="goto button small radius right" title="Bekijk alle foto's">Overige type's</a></div>
                        <div class="clearfix"></div>
                        <div class="accom-img">
                            <div class="accom-slides show-for-small">
                                <div><a href=""><img data-lazy="/bundles/app/img/accom/accom-2.jpg" alt="" /></a></div>
                                <div><a href=""><img data-lazy="/bundles/app/img/accom/accom-1.jpg" alt="" /></a></div>
                                <div><a href=""><img data-lazy="/bundles/app/img/accom/accom-3.jpg" alt="" /></a></div>
                                <div><a href=""><img data-lazy="/bundles/app/img/accom/accom-4.jpg" alt="" /></a></div>
                            </div>
                            <div class="accom-img-big-1 row hide-for-small">
                                {% for image in images['above'] %}

                                    {% if loop.index == 1 %}

                                        <div class="large-8 medium-8 columns">
                                            <a href="{{ image.getLocation() }}" data-role="fancybox" data-fancybox-group="accommodation-images"{% if image.getLabel() %}data-fancybox-title="image.getLabel()"{% endif %}><img src="{{ image.getLocation() }}" alt="" /></a>
                                        </div>
                                        <div class="large-4 medium-4 column">

                                    {% else %}

                                        <a href="{{ image.getLocation() }}" data-role="fancybox" data-fancybox-group="accommodation-images"{% if image.getLabel() %}data-fancybox-title="image.getLabel()"{% endif %}><img src="{{ image.getLocation() }}" alt="" /></a>

                                    {% endif %}

                                {% endfor %}
                                {% if images['above']|length > 0 %}
                                        </div>
                                {% endif %}
                            </div>
                            {% if offers[type.getId()] is defined %}
                                <div class="circle"><span>Aan-</span><span>bieding</span></div>
                            {% endif %}
                            <a href="#images" class="button goto blank small radius" title="Bekijk alle foto's"><i class="fi-photo"></i>Bekijk alle foto's</a><!--class goto-->
                            <div id="details-for-mobile" class="show-for-small-99">
                            </div>
                        </div>
                        <h2>{{ type.getLocaleShortDescription(locale) ? type.getLocaleShortDescription(locale) : accommodation.getLocaleShortDescription(locale) }}</h2>
                        <ul class="inline-list">
                            {% for feature in features %}
                                <li>{{ feature|trans }}</li>
                            {% endfor %}
                        </ul>
                        <h3>Algemene omschrijving</h3>
                        <p>{{ (type.getLocaleDescription(locale) ? type.getLocaleDescription(locale) : accommodation.getLocaleDescription(locale))|nl2br }}</p>
                    </div>

                    <div id="mapping" class="mapping">
                        <h3>{{ 'layout'|trans|capitalize }}</h3>
                        <div class="text">
                            <p>{{ (type.getLocaleLayout(locale) ? type.getLocaleLayout(locale) : accommodation.getLocaleLayout(locale))|nl2br }}</p>
                        </div>
                    </div>

                    <div id="price-availability">
                        {{ render_rate_table(type)|raw }}
                    </div>

                    <p>&nbsp;</p>

                    <div id="extras" class="extras">
                        <div class="small-12 medium-8 large-9 columns">
                            <h3>Extra opties winter 2014/2015</h3>
                        </div>
                        <div class="small-12 medium-4 large-3 columns">
                            <select class="radius">
                                <option value="1">zaterdag 7 maart</option>
                                <option value="2">zaterdag 14 maart</option>
                            </select>
                        </div>
                        <div class="table-wrapper"> 
                            {% for kind in options %}
                            <table>
                                <thead>
                                    <tr>
                                        <th><span class="price has-tip tip-left radius" data-tooltip aria-haspopup="true" title="[uitgebreide prijsinformatie bij Ski's volwassen]">{{ kind.name }}<i class="fi-info"></i></span></th>
                                        <th></th>
                                        <th>Prijs</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for part in kind.parts %}
                                    <tr>
                                        <td>{{ part.name }}</td>
                                        {% if part.price != 0 %}
                                            <td>{{ part.discount == true ? 'korting' }}</td>
                                            <td>&euro; {{ part.price|number_format(2, ',', '.') }}</td>
                                        {% else %}
                                            <td></td>
                                            <td>gratis</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="types-other" class="table-wrapper">
                        <h3>Overige types van deze accommodatie</h3>
                        <table>
                            <thead>
                                <tr>
                                    <th><span>Per</span>sonen</th>
                                    <th><span>Slaap</span>kamers</th>
                                    <th><span>Bad</span>kamers</th>
                                    <th>Type</th>
                                    <th>Beoordeling (#)</th>
                                    <th>&nbsp;</th>
                                    <th><span>Prijs accom</span>modatie</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set types = accommodation.getTypes().toArray() %}
                                {% set l = types|sortprop('name') %}
                                {% for t in types %}
                                <tr{{ t.getId() == type.getId() ? ' class="active"' : '' }} data-role="clickable" data-url="{{ locale_path('show_type', { beginCode: country.getStartCode(), typeId: t.getId() }) }}"><!-- notice this row is in discount -->
                                    <td><i class="sprite sprite-icon-torso"></i>{{ (t.getOptimalResidents() == t.getMaxResidents() ? t.getOptimalResidents() : (t.getOptimalResidents() ~ ' - ' ~ t.getMaxResidents())) }}</td>
                                    <td><i class="sprite sprite-icon-sleep"></i>{{ t.getBedrooms() ~ (t.getLocaleBedroomsExtra(locale) != '' ? (' ' ~ t.getLocaleBedroomsExtra(locale)) : '') }}</td>
                                    <td><i class="sprite sprite-icon-bath"></i>{{ t.getBathrooms() ~ (t.getLocaleBathroomsExtra(locale) != '' ? (' ' ~ t.getLocaleBathroomsExtra(locale)) : '') }}</td>
                                    <td>{{ t.getLocaleName(locale) }}</td>
                                    <td><span>8,5</span>(11)</td>
                                    <td>{% if offers[t.getId()] is defined %}<i class="sprite sprite-icon-discount"></i>{% endif %}</td>
                                    <td>{% if prices[t.getId()] is defined %}&euro; {{ prices[t.getId()]|number_format(0, ',', '.') }},-<i class="fi-info"></i>{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% include 'partials/surveys.html.twig' with {'surveyData': surveyData, 'surveyCount': surveyCount, 'surveyAverage': surveyAverage, 'minimalSurveyCount': minimalSurveyCount} only %}

                    <div id="images" class="images">
                        <h3>Foto's</h3>
                        {% if type.getVirtualTourLink() %}
                            <a href="{{ type.getVirtualTourLink() }}" data-role="new-window">{{ 'checkout-virtual-tour'|trans }}</a>
                        {% endif %}
                        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
                            {% set has_video = false %}
                            {% if type.hasVideo() or accommodation.hasVideo() %}
                                <li>
                                    <a href="{{ type.hasVideo() ? type.getVideo().getUrl() : accommodation.getVideo().getUrl() }}?autoplay=1" data-role="fancybox" data-fancybox-group="accommodation-images">
                                        {% image 'bundles/app/img/video-preview.jpg' %}
                                            <img src="{{ asset_url }}" />
                                        {% endimage %}
                                    </a>
                                </li>
                                {% set has_video = true %}
                            {% endif %}
                            {% set images_below = images['below'] %}
                            {% set images_rest  = images['rest'] %}
                            {% if has_video %}
                                {% set second_image = images['below']|slice(1) %}
                                {% set images_below = images_below|slice(0, 1) %}
                                {% set images_rest  = images_rest|merge(second_image) %}
                            {% endif %}
                            {% for image in images_below %}
                                <li><a href="{{ image.getLocation() }}"{% if image.getLabel() %}data-fancybox-title="image.getLabel()"{% endif %} class="th" data-role="fancybox" data-fancybox-group="accommodation-images"><img src="{{ image.getLocation() }}" alt="" /></a></li>
                            {% endfor %}
                        </ul>
                        <div class="hide">
                            <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
                                {% for image in images_rest %}
                                    <li><a href="{{ image.getLocation() }}"{% if image.getLabel() %}data-fancybox-title="image.getLabel()"{% endif %} class="th" data-role="fancybox" data-fancybox-group="accommodation-images"><img src="{{ image.getLocation() }}" alt="" /></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="readmore"><a href="" class="button blank small radius" title="Toon meer foto's" data-open-title="Toon meer foto's" data-close-title="Verberg foto's"><i class="sprite sprite-icon-close-all"></i><span>Toon meer foto's</span></a></div>
                    </div>

                    {# <div id="map" class="map">
                        <h3>Ligging</h3>
                        <div data-role="google-maps" class="google-maps"></div>
                        <div class="readmore"><a href="" class="button blank small radius" title="Bekijk al onze accommodaties in dit gebied" data-open-title="Bekijk al onze accommodaties in dit gebied" data-close-title="Verberg al onze accommodaties in dit gebied"><i class="sprite sprite-icon-close-all"></i><span>Bekijk al onze accommodaties in dit gebied</span></a></div>
                    </div> #}
                </div>
            </div>
            <div id="accom-right" class="small-12 medium-4 large-3 columns">
                <div id="accom-main-box-container">
                    <div id="accom-main-box">
                        <div class="price-details">
                            <span class="price-info">Prijs per persoon per week, vanaf</span>
                            {% if prices[type.getId()] is defined %}
                                <span class="price has-tip tip-left radius" data-tooltip aria-haspopup="true" title="[uitgebreide prijsinformatie bij dit zoekresultaat]">&euro; {{ prices[type.getId()]|number_format(0, ',', '.') }},-<i class="fi-info"></i></span>
                            {% endif %}
                            <span class="price-inc"><i class="sprite sprite-icon-skipass"></i>Inclusief 6daagse skipas</span>
                        </div>
                        <hr />
                        <ul class="accom-details">
                            <li>Personen<span>{{ ( type.getOptimalResidents() == type.getMaxResidents() ? type.getOptimalResidents() : (type.getOptimalResidents() ~ ' - ' ~ type.getMaxResidents()) ) }}<i class="sprite sprite-icon-torso"></i></span></li>
                            <li>Slaapkamers<span>{{ type.getBedrooms() }}<i class="sprite sprite-icon-sleep"></i></span>{% if type.getLocaleBedroomsExtra(locale) != '' %}<span class="extra">({{ type.getLocaleBedroomsExtra(locale) }})</span>{% endif %}</span></li>
                            <li>Badkamers<span>{{ type.getBathrooms() }}<i class="sprite sprite-icon-bath"></i></span>{% if type.getLocaleBathroomsExtra(locale) != '' %}<span class="extra">({{ type.getLocaleBathroomsExtra(locale) }})</span>{% endif %}</li>
                            <li>Oppervlakte<span>{{ type.getSurface() }} m&sup2;{% if type.getLocaleSurfaceExtra(locale) != '' %} - {{ type.getLocaleSurfaceExtra(locale) }}&sup2;{% endif %}<i class="sprite sprite-icon-surface"></i></span></li>
                        </ul>
                        <div class="rating">
                            <span class="stars has-tip tip-left radius" data-tooltip aria-haspopup="true" title="[uitgebreide informatie bij klassering]">{% include 'partials/quality_stars.html.twig' with {quality: (type.getQuality() > 0 ? type.getQuality() : accommodation.getQuality())} only %}<i class="fi-info"></i></span>
                            {% if surveyCount > minimalSurveyCount %}
                                <span class="rate">{{ surveyAverage|number_format(1, ',', '')  }}</span> (<a href="#reviews" class="goto" title="Bekijk beoordelingen">{{ surveyCount }} beoordelingen</a>)
                            {% endif %}
                        </div>
                        <hr />
                        <a href="{{ locale_path('booking') }}?tid={{ type.getId() }}" class="button large radius" title="Boek nu">Boek nu</a>
                        <div class="social-buttons">
                            <a href="" class="button social fb tiny radius" title="Like"><i class="fi-social-facebook"></i>Deel</a>
                            <a href="" class="button social tw tiny radius" title="Tweet"><i class="fi-social-twitter"></i>Tweet</a>
                            <a href="{{ locale_path('mail_a_friend', {beginCode: country.startCode, typeId: type.id}) }}" class="button social ml tiny radius" title="Mail"><i class="fi-mail"></i>Mail</a>
                            {% set type_is_favorite = is_favorite(type) %}
                            <div class="heart"><a href="#"{% if type_is_favorite %} data-role="remove-favorite"{% else %} data-role="add-favorite"{% endif %} data-id="{{ type.getId() }}" class="{% if type_is_favorite %}active added {% endif %}button social tiny radius" title="Dit resultaat opslaan in mijn favorieten"><i class="fi-heart"></i>Favoriet</a></div>
                        </div>
                    </div>
                </div>
                <div id="accom-village">
                    <div class="location">
                        <span class="city">Skidorp: {{ localeData['name']['place'] }}</span>
                        <span class="area"><a href="{{ locale_path('show_region', { regionSlug: localeData['seo']['region'] }) }}" title="{{ localeData['name']['region'] }}">{{ localeData['name']['region'] }}</a></span>, <span class="country"><a href="{{ locale_path('show_country', { countrySlug: localeData['seo']['country'] }) }}" title="{{ localeData['name']['country'] }}">{{ localeData['name']['country'] }}</a></span>
                        <span class="mountain"><i class="sprite sprite-icon-mountain"></i> ligt op <em>{{ place.getAltitude() }} meter</em> hoogte</span>
                        <span class="distance"><i class="fi-compass fi-gray"></i><em>{{ place.getDistanceFromUtrecht() }} km</em> van Utrecht</span>
                    </div>
                    <div class="hide-for-small"><!-- class hide-for-small-->
                        <img src="{{ place_image(place).getLocation() }}" alt="{{ localeData['name']['place'] }}" />
                        <div class="text">
                            <p>{{ place.getLocaleShortDescription(locale) }}</p>
                        </div>
                    </div>
                    <a href="{{ locale_path('show_place', { placeSlug: localeData['seo']['place'] }) }}" title="Meer informatie" class="more">Meer informatie</a>
                </div>
                <div id="accom-area">
                    <div class="location">
                        <span class="city">Skigebied: {{ localeData['name']['region'] }}</span>
                        {% if region.getMinimumAltitude() == region.getMaximumAltitude() %}
                            <span class="mountain"><i class="sprite sprite-icon-mountain"></i>ligt op <em>{{ region.getMinimumAltitude() }} meter</em> hoogte</span>
                        {% else %}
                            <span class="mountain"><i class="sprite sprite-icon-mountain"></i>ligt tussen <em>{{ region.getMinimumAltitude() }} en {{ region.getMaximumAltitude() }} meter</em> hoogte</span>
                        {% endif %}
                        <span class="piste"><i class="sprite sprite-icon-pistes"></i><em>{{ region.getTotalSlopesDistance() }} km</em> pistes</span>
                    </div>
                    <div class="hide-for-small"><!-- class hide-for-small-->
                        <img src="{{ region_image(region).getLocation() }}" alt="{{ localeData['name']['region'] }}" />
                        <div class="text">
                            <p>{{ region.getLocaleShortDescription(locale) }}</p>
                        </div>
                    </div>
                    <a href="{{ locale_path('show_region', { regionSlug: localeData['seo']['region'] }) }}" title="Meer informatie" class="more">Meer informatie</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}