{% set locale = get_locale() %}
{% set filters_active = false %}
<div data-role="filter-tags" id="search-filters-active">

    {% if filters %}

        {% set filters_active = true %}

        {% for filter, data in filters %}

            {% if data is iterable %}

                {% for value in data %}

                    <div data-role="filter-tag">
                        {{ filter|tokenize|trans }}:
                        {{ value|tokenize(filter)|trans }}
                        <a href="#" data-role="remove-filter" data-filter="{{ filter }}" data-filter-value="{{ value }}"><i class="fi-x"></i></a>
                    </div>

                {% endfor %}

            {% else %}

                <div data-role="filter-tag">
                    {{ filter|tokenize|trans }}:
                    {{ data|tokenize(filter)|trans }}
                    <a href="#" data-role="remove-filter" data-filter="{{ filter }}" data-filter-value="{{ data }}"><i class="fi-x"></i></a>
                </div>

            {% endif %}

        {% endfor %}

    {% endif %}

    {% if custom_filters['countries']|length > 0 %}
        {% set filters_active = true %}
        {% for country in custom_filters['countries'] %}
            <div data-role="filter-tag">
                Land:
                {{ country }}
                <a href="#" data-role="remove-country-filter" data-id="{{ country }}"><i class="fi-x"></i></a>
            </div>
        {% endfor %}
    {% endif %}

    {% if custom_filters['regions']|length > 0 %}
        {% set filters_active = true %}
        {% for region in custom_filters['regions'] %}
            <div data-role="filter-tag">
                Skigebied:
                {{ region }}
                <a href="#" data-role="remove-region-filter" data-id="{{ region.getLocaleName(locale) }}"><i class="fi-x"></i></a>
            </div>
        {% endfor %}
    {% endif %}

    {% if custom_filters['places']|length > 0 %}
        {% set filters_active = true %}
        {% for place in custom_filters['places'] %}
            <div data-role="filter-tag">
                Plaats:
                {{ place }}
                <a href="#" data-role="remove-place-filter" data-id="{{ place.getLocaleName(locale) }}"><i class="fi-x"></i></a>
            </div>
        {% endfor %}
    {% endif %}

    {% if custom_filters['accommodations']|length > 0 %}
        {% set filters_active = true %}
        {% for accommodationId, accommodation in custom_filters['accommodations'] %}
            <div data-role="filter-tag">
                Accommodatie:
                {{ accommodation }}
                <a href="#" data-role="remove-accommodation-filter" data-id="{{ accommodationId }}"><i class="fi-x"></i></a>
            </div>
        {% endfor %}
    {% endif %}

    {% if form_filters['bedrooms'] is defined and form_filters['bedrooms'] > 0 %}
        {% set filters_active = true %}
        <div data-role="filter-tag">
            Slaapkamers:
            minimaal {{ form_filters['bedrooms'] }}
            <a href="#" data-role="remove-bedrooms-filter"><i class="fi-x"></i></a>
        </div>
    {% endif %}

    {% if form_filters['bathrooms'] is defined and form_filters['bathrooms'] > 0 %}
        {% set filters_active = true %}
        <div data-role="filter-tag">
            Badkamers:
            minimaal {{ form_filters['bathrooms'] }}
            <a href="#" data-role="remove-bathrooms-filter"><i class="fi-x"></i></a>
        </div>
    {% endif %}

    {% if form_filters['persons'] is defined and form_filters['persons'] > 0 %}
        {% set filters_active = true %}
        <div data-role="filter-tag">
            {{ form_filters['persons'] }} personen
            <a href="#" data-role="remove-persons-filter"><i class="fi-x"></i></a>
        </div>
    {% endif %}

    {% if form_filters['weekend'] is defined and weekends[form_filters['weekend']] is defined %}
        {% set filters_active = true %}
        <div data-role="filter-tag">
            Weekend:
            {{ weekends[form_filters['weekend']] }}
            <a href="#" data-role="remove-weekend-filter"><i class="fi-x"></i></a>
        </div>
    {% endif %}

    {% if form_filters['freesearch'] %}
        {% set filters_active = true %}
        <div data-role="filter-tag">
            Zoekopdracht:
            {{ form_filters['freesearch'] }}
            <a href="#" data-role="remove-freesearch-filter"><i class="fi-x"></i></a>
        </div>
    {% endif %}

</div>

{% if filters_active == true %}
    {% set save_search_label = 'save-search'|trans %}
    {% set save_search_confirm_msg = 'save-search-confirm-msg'|trans %}
    <div class="action-buttons">
        <a href="{{ path('save_search', {f: app.request.query.get('f', {})}) }}" data-confirm-msg="{{ save_search_confirm_msg }}" data-role="save-search"><div class="save-button">{{ save_search_label }} <i class="fi-plus"></i></div></a>
        <a href="#" data-role="remove-filters"><div>Wis volledige zoekopdracht <i class="fi-trash"></i></div></a>
    </div>
{% endif %}