<div id="search-filter"  class="small-12 medium-4 large-3 columns">
    <div id="search-filter-main">
        <h2><a href="" title="deze box in- of uitklappen">Zoek en boek</a></h2>
        <div class="fields">
            {% include 'partials/search/form/input.html.twig' %}
            <a href="{{ locale_path('save_search', {f: app.request.query.get('f', {})}) }}" class="save" title="Deze zoekopdracht opslaan" data-role="save-search">Zoekopdracht opslaan<i class="sprite sprite-icon-plus "></i></a>
        </div>
    </div>
    <h2 class="title">Filter resultaten</h2>
    <div id="search-filter-piste-distance" class="search-filter-default">
        <h2 class="closed"><a href="" title="deze box in- of uitklappen">Afstand tot de piste</a></h2>
        <div class="fields">
            {% set filter_distance       = constant('FILTER_DISTANCE', filter_builder) %}
            {% set filter_distance_value = filters[filter_distance]|default(null) %}
            {% set distance_by_slope     = constant('FILTER_DISTANCE_BY_SLOPE', filter_builder) %}
            {% set distance_max_250      = constant('FILTER_DISTANCE_MAX_250', filter_builder) %}
            {% set distance_max_500      = constant('FILTER_DISTANCE_MAX_500', filter_builder) %}
            {% set distance_max_1000     = constant('FILTER_DISTANCE_MAX_1000', filter_builder) %}

            <div class="styled_label" data-role="change-filter" data-action="{{ filter_distance_value == distance_by_slope ? 'remove' : 'add' }}" data-filter="{{ filter_distance }}" data-filter-value="{{ distance_by_slope }}">
                <label class="label_check" for="checkbox-01">
                    <input data-group="checkbox-1" id="checkbox-01" type="checkbox"{{ is_checked(filter_distance_value, distance_by_slope) }} />aan de piste<span>(848)</span>
                </label>
            </div>
            <div class="styled_label" data-role="change-filter" data-action="{{ filter_distance_value == distance_max_250 ? 'remove' : 'add' }}" data-filter="{{ filter_distance }}" data-filter-value="{{ distance_max_250 }}">
                <label class="label_check" for="checkbox-02">
                    <input data-group="checkbox-1" id="checkbox-02" type="checkbox"{{ is_checked(filter_distance_value, distance_max_250) }} />max 250 meter<span>(1419)</span>
                </label>
            </div>
            <div class="styled_label" data-role="change-filter" data-action="{{ filter_distance_value == distance_max_500 ? 'remove' : 'add' }}" data-filter="{{ filter_distance }}" data-filter-value="{{ distance_max_500 }}">
                <label class="label_check" for="checkbox-03">
                    <input data-group="checkbox-1" id="checkbox-03" type="checkbox"{{ is_checked(filter_distance_value, distance_max_500) }} />max 500 meter<span>(1729)</span>
                </label>
            </div>
            <div class="styled_label" data-role="change-filter" data-action="{{ filter_distance_value == distance_max_1000 ? 'remove' : 'add' }}" data-filter="{{ filter_distance }}" data-filter-value="{{ distance_max_1000 }}">
                <label class="label_check" for="checkbox-04">
                    <input data-group="checkbox-1" id="checkbox-04" type="checkbox"{{ is_checked(filter_distance_value, distance_max_1000) }} />max 1000 meter<span>(1933)</span>
                </label>
            </div>
        </div>
    </div>
    <div id="search-filter-piste-length" class="search-filter-default">
        <h2 class="closed"><a href="" title="deze box in- of uitklappen">Aantal km pistes</a></h2>
        <div class="fields">
            {% set filter_length       = constant('FILTER_LENGTH', filter_builder) %}
            {% set filter_length_value = filters[filter_length]|default(null) %}
            {% set length_max_100      = constant('FILTER_LENGTH_MAX_100', filter_builder) %}
            {% set length_min_100      = constant('FILTER_LENGTH_MIN_100', filter_builder) %}
            {% set length_min_200      = constant('FILTER_LENGTH_MIN_200', filter_builder) %}
            {% set length_min_400      = constant('FILTER_LENGTH_MIN_400', filter_builder) %}
            <div class="styled_label" data-role="change-filter" data-action="{{ filter_length_value == length_max_100 ? 'remove' : 'add' }}" data-filter="{{ filter_length }}" data-filter-value="{{ length_max_100 }}">
                <label class="label_check" for="checkbox-05">
                    <input data-group="checkbox-2" id="checkbox-05" type="checkbox"{{ is_checked(filter_length_value, length_max_100) }} />tot 100 km<span>(114)</span>
                </label>
            </div>
            <div class="styled_label" data-role="change-filter" data-action="{{ filter_length_value == length_min_100 ? 'remove' : 'add' }}" data-filter="{{ filter_length }}" data-filter-value="{{ length_min_100 }}">
                <label class="label_check" for="checkbox-06">
                    <input data-group="checkbox-2" id="checkbox-06" type="checkbox"{{ is_checked(filter_length_value, length_min_100) }} />100 km en meer<span>(2140)</span>
                </label>
            </div>
            <div class="styled_label" data-role="change-filter" data-action="{{ filter_length_value == length_min_200 ? 'remove' : 'add' }}" data-filter="{{ filter_length }}" data-filter-value="{{ length_min_200 }}">
                <label class="label_check" for="checkbox-07">
                    <input data-group="checkbox-2" id="checkbox-07" type="checkbox"{{ is_checked(filter_length_value, length_min_200) }} />200 km en meer<span>(1748)</span>
                </label>
            </div>
            <div class="styled_label" data-role="change-filter" data-action="{{ filter_length_value == length_min_400 ? 'remove' : 'add' }}" data-filter="{{ filter_length }}" data-filter-value="{{ length_min_400 }}">
                <label class="label_check" for="checkbox-08">
                    <input data-group="checkbox-2" id="checkbox-08" type="checkbox"{{ is_checked(filter_length_value, length_min_400) }} />400 km en meer<span>(1212)</span>
                </label>
            </div>
        </div>
    </div>
    <div id="search-filter-facilities" class="search-filter-default">
        <h2 class="closed"><a href="" title="deze box in- of uitklappen">Faciliteiten</a></h2>
        <div class="fields">
            {% set filter_facility        = constant('FILTER_FACILITY', filter_builder) %}
            {% set filter_facility_value  = filters[filter_facility]|default(null) %}
            {% set facility_catering      = constant('FILTER_FACILITY_CATERING', filter_builder) %}
            {% set facility_internet_wifi = constant('FILTER_FACILITY_INTERNET_WIFI', filter_builder) %}
            {% set facility_swimming_pool = constant('FILTER_FACILITY_SWIMMING_POOL', filter_builder) %}
            {% set facility_sauna         = constant('FILTER_FACILITY_SAUNA', filter_builder) %}
            {% set facility_private_sauna = constant('FILTER_FACILITY_PRIVATE_SAUNA', filter_builder) %}
            {% set facility_pets_allowed  = constant('FILTER_FACILITY_PETS_ALLOWED', filter_builder) %}
            {% set facility_fireplace     = constant('FILTER_FACILITY_FIREPLACE', filter_builder) %}
            <div class="styled_label" data-role="change-filter" data-action="{{ facility_catering in filter_facility_value ? 'remove' : 'add' }}" data-filter="{{ filter_facility }}" data-filter-value="{{ facility_catering }}" data-filter-multi="true">
                <label class="label_check" for="checkbox-09">
                    <input id="checkbox-09" type="checkbox"{{ is_checked(filter_facility_value, facility_catering) }} />catering mogelijk<span>(351)</span>
                </label>
            </div>
            <div class="styled_label" data-role="change-filter" data-action="{{ facility_internet_wifi in filter_facility_value ? 'remove' : 'add' }}" data-filter="{{ filter_facility }}" data-filter-value="{{ facility_internet_wifi }}" data-filter-multi="true">
                <label class="label_check" for="checkbox-10">
                    <input id="checkbox-10" type="checkbox"{{ is_checked(filter_facility_value, facility_internet_wifi) }} />internet / wifi<span>(1743)</span>
                </label>
            </div>
            <div class="styled_label" data-role="change-filter" data-action="{{ facility_swimming_pool in filter_facility_value ? 'remove' : 'add' }}" data-filter="{{ filter_facility }}" data-filter-value="{{ facility_swimming_pool }}" data-filter-multi="true">
                <label class="label_check" for="checkbox-11">
                    <input id="checkbox-11" type="checkbox"{{ is_checked(filter_facility_value, facility_swimming_pool) }} />zwembad<span>(565)</span>
                </label>
            </div>
            <div class="styled_label" data-role="change-filter" data-action="{{ facility_sauna in filter_facility_value ? 'remove' : 'add' }}" data-filter="{{ filter_facility }}" data-filter-value="{{ facility_sauna }}" data-filter-multi="true">
                <label class="label_check" for="checkbox-12">
                    <input id="checkbox-12" type="checkbox"{{ is_checked(filter_facility_value, facility_sauna) }} />sauna<span>(1125)</span>
                </label>
            </div>
            <div class="styled_label" data-role="change-filter" data-action="{{ facility_private_sauna in filter_facility_value ? 'remove' : 'add' }}" data-filter="{{ filter_facility }}" data-filter-value="{{ facility_private_sauna }}" data-filter-multi="true">
                <label class="label_check" for="checkbox-13">
                    <input id="checkbox-13" type="checkbox"{{ is_checked(filter_facility_value, facility_private_sauna) }} />prive-sauna<span>(299)</span>
                </label>
            </div>
            <div class="styled_label" data-role="change-filter" data-action="{{ facility_pets_allowed in filter_facility_value ? 'remove' : 'add' }}" data-filter="{{ filter_facility }}" data-filter-value="{{ facility_pets_allowed }}" data-filter-multi="true">
                <label class="label_check" for="checkbox-14">
                    <input id="checkbox-14" type="checkbox"{{ is_checked(filter_facility_value, facility_pets_allowed) }} />huisdieren toegestaan<span>(1344)</span>
                </label>
            </div>
            <div class="styled_label" data-role="change-filter" data-action="{{ facility_fireplace in filter_facility_value ? 'remove' : 'add' }}" data-filter="{{ filter_facility }}" data-filter-value="{{ facility_fireplace }}" data-filter-multi="true">
                <label class="label_check" for="checkbox-15">
                    <input id="checkbox-15" type="checkbox"{{ is_checked(filter_facility_value, facility_fireplace) }} />openhaard / houtkachel<span>(748)</span>
                </label>
            </div>
        </div>
    </div>
    <div id="search-filter-bathrooms" class="search-filter-default">
        <h2 class="closed"><a href="" title="deze box in- of uitklappen">Aantal badkamers</a></h2>
        <div class="fields">
            {% set filter_bathroom       = constant('FILTER_BATHROOM', filter_builder) %}
            {% set filter_bathroom_value = filters[filter_bathroom]|default(null) %}
            {% set bathroom_min_2        = constant('FILTER_BATHROOM_MIN_2',  filter_builder) %}
            {% set bathroom_min_3        = constant('FILTER_BATHROOM_MIN_3',  filter_builder) %}
            {% set bathroom_min_4        = constant('FILTER_BATHROOM_MIN_4',  filter_builder) %}
            {% set bathroom_min_5        = constant('FILTER_BATHROOM_MIN_5',  filter_builder) %}
            {% set bathroom_min_6        = constant('FILTER_BATHROOM_MIN_6',  filter_builder) %}
            {% set bathroom_min_8        = constant('FILTER_BATHROOM_MIN_8',  filter_builder) %}
            {% set bathroom_min_10       = constant('FILTER_BATHROOM_MIN_10', filter_builder) %}
            <div class="styled_label" data-role="change-filter" data-action="{{ filter_bathroom_value == bathroom_min_2 ? 'remove' : 'add' }}" data-filter="{{ filter_bathroom }}" data-filter-value="{{ bathroom_min_2 }}">
                <label class="label_check" for="checkbox-16">
                    <input data-group="checkbox-3" id="checkbox-16" type="checkbox"{{ is_checked(filter_bathroom_value, bathroom_min_2) }} />minimaal 2<span>(1376)</span>
                </label>
            </div>
            <div class="styled_label" data-role="change-filter" data-action="{{ filter_bathroom_value == bathroom_min_3 ? 'remove' : 'add' }}" data-filter="{{ filter_bathroom }}" data-filter-value="{{ bathroom_min_3 }}">
                <label class="label_check" for="checkbox-17">
                    <input data-group="checkbox-3" id="checkbox-17" type="checkbox"{{ is_checked(filter_bathroom_value, bathroom_min_3) }} />minimaal 3<span>(681)</span>
                </label>
            </div>
            <div class="styled_label" data-role="change-filter" data-action="{{ filter_bathroom_value == bathroom_min_4 ? 'remove' : 'add' }}" data-filter="{{ filter_bathroom }}" data-filter-value="{{ bathroom_min_4 }}">
                <label class="label_check" for="checkbox-18">
                    <input data-group="checkbox-3" id="checkbox-18" type="checkbox"{{ is_checked(filter_bathroom_value, bathroom_min_4) }} />minimaal 4<span>(441)</span>
                </label>
            </div>
            <div class="styled_label" data-role="change-filter" data-action="{{ filter_bathroom_value == bathroom_min_5 ? 'remove' : 'add' }}" data-filter="{{ filter_bathroom }}" data-filter-value="{{ bathroom_min_5 }}">
                <label class="label_check" for="checkbox-19">
                    <input data-group="checkbox-3" id="checkbox-19" type="checkbox"{{ is_checked(filter_bathroom_value, bathroom_min_5) }} />minimaal 5<span>(265)</span>
                </label>
            </div>
            <div class="styled_label" data-role="change-filter" data-action="{{ filter_bathroom_value == bathroom_min_6 ? 'remove' : 'add' }}" data-filter="{{ filter_bathroom }}" data-filter-value="{{ bathroom_min_6 }}">
                <label class="label_check" for="checkbox-20">
                    <input data-group="checkbox-3" id="checkbox-20" type="checkbox"{{ is_checked(filter_bathroom_value, bathroom_min_6) }} />minimaal 6<span>(161)</span>
                </label>
            </div>
            <div class="styled_label" data-role="change-filter" data-action="{{ filter_bathroom_value == bathroom_min_8 ? 'remove' : 'add' }}" data-filter="{{ filter_bathroom }}" data-filter-value="{{ bathroom_min_8 }}">
                <label class="label_check" for="checkbox-21">
                    <input data-group="checkbox-3" id="checkbox-21" type="checkbox"{{ is_checked(filter_bathroom_value, bathroom_min_8) }} />minimaal 8<span>(59)</span>
                </label>
            </div>
            <div class="styled_label" data-role="change-filter" data-action="{{ filter_bathroom_value == bathroom_min_10 ? 'remove' : 'add' }}" data-filter="{{ filter_bathroom }}" data-filter-value="{{ bathroom_min_10 }}">
                <label class="label_check" for="checkbox-22">
                    <input data-group="checkbox-3" id="checkbox-22" type="checkbox"{{ is_checked(filter_bathroom_value, bathroom_min_10) }} />minimaal 10<span>(26)</span>
                </label>
            </div>
        </div>
    </div>
    <div id="search-filter-themes" class="search-filter-default">
        <h2 class="closed"><a href="" title="deze box in- of uitklappen">Thema's</a></h2>
        <div class="fields">
            {% set filter_theme             = constant('FILTER_THEME', filter_builder) %}
            {% set filter_theme_value       = filters[filter_theme]|default(null) %}
            {% set theme_kids               = constant('FILTER_THEME_KIDS', filter_builder)%}
            {% set theme_charming_places    = constant('FILTER_THEME_CHARMING_PLACES', filter_builder) %}
            {% set theme_10_for_apres_ski   = constant('FILTER_THEME_10_FOR_APRES_SKI', filter_builder) %}
            {% set theme_super_ski_stations = constant('FILTER_THEME_SUPER_SKI_STATIONS', filter_builder) %}
            {% set theme_winter_wellness    = constant('FILTER_THEME_WINTER_WELLNESS', filter_builder) %}
            <div class="styled_label" data-role="change-filter" data-action="{{ theme_kids in filter_theme_value ? 'remove' : 'add' }}" data-filter="{{ filter_theme }}" data-filter-value="{{ theme_kids }}" data-filter-multi="true">
                <label class="label_check" for="checkbox-23">
                    <input id="checkbox-23" type="checkbox"{{ is_checked(filter_theme_value, theme_kids) }} />goed voor kids<span>(604)</span>
                </label>
            </div>
            <div class="styled_label" data-role="change-filter" data-action="{{ theme_charming_places in filter_theme_value ? 'remove' : 'add' }}" data-filter="{{ filter_theme }}" data-filter-value="{{ theme_charming_places }}" data-filter-multi="true">
                <label class="label_check" for="checkbox-24">
                    <input id="checkbox-24" type="checkbox"{{ is_checked(filter_theme_value, theme_charming_places) }} />charmante skidorpen<span>(1032)</span>
                </label>
            </div>
            <div class="styled_label" data-role="change-filter" data-action="{{ theme_10_for_apres_ski in filter_theme_value ? 'remove' : 'add' }}" data-filter="{{ filter_theme }}" data-filter-value="{{ theme_10_for_apres_ski }}" data-filter-multi="true">
                <label class="label_check" for="checkbox-25">
                    <input id="checkbox-25" type="checkbox"{{ is_checked(filter_theme_value, theme_10_for_apres_ski) }} />10 voor apr&eacute;s-ski<span>(822)</span>
                </label>
            </div>
            <div class="styled_label" data-role="change-filter" data-action="{{ theme_super_ski_stations in filter_theme_value ? 'remove' : 'add' }}" data-filter="{{ filter_theme }}" data-filter-value="{{ theme_super_ski_stations }}" data-filter-multi="true">
                <label class="label_check" for="checkbox-26">
                    <input id="checkbox-26" type="checkbox"{{ is_checked(filter_theme_value, theme_super_ski_stations) }} />super ski-stations<span>(1031)</span>
                </label>
            </div>
            <div class="styled_label" data-role="change-filter" data-action="{{ theme_winter_wellness in filter_theme_value ? 'remove' : 'add' }}" data-filter="{{ filter_theme }}" data-filter-value="{{ theme_winter_wellness }}" data-filter-multi="true">
                <label class="label_check" for="checkbox-27">
                    <input id="checkbox-27" type="checkbox"{{ is_checked(filter_theme_value, theme_winter_wellness) }} />winter-wellness<span>(792)</span>
                </label>
            </div>
        </div>
    </div>
    <div class="search-filter-default">
        <a href="" class="button delete small radius" title="Wis alle filters" data-role="remove-filters">Wis alle filters</a>
    </div>
</div>