{% macro accommodation(accommodation, all_images, resale, season) %}
    {% import 'partials/search/types.html.twig' as typesMacro %}
    {% set place   = accommodation.place %}
    {% set region  = place.region %}
    {% set country = place.country %}
    {% set types   = accommodation.types %}
    {% set images  = [] %}

    {% if all_images[accommodation.cheapest.id] is defined %}
        {% set images = all_images[accommodation.cheapest.id] %}
    {% endif %}

    {% set quality_stars %}
        {% include 'partials/quality_stars.html.twig' with {'quality': accommodation.quality} %}
    {% endset %}

    <article class="overview{{ accommodation.offer ? ' sale' }}">
        <a href="{{ locale_path('show_type', {beginCode: country.startCode, typeId: accommodation.cheapest.id}) }}">
            <div class="row">
                <div class="title-ipad title medium-12 columns">
                    {{ ('type.kind.' ~ accommodation.kindIdentifier)|trans|capitalize ~ ' ' ~ accommodation.localeName }}
                    <span>{{ quality_stars }}</span>
                </div>
                <div class="small-12 medium-5 large-5 columns">
                    <div class="accom-img">
                        <div class="accom-slides">
                            {% for image in images %}
                            <div><img data-lazy="{{ image.getLocation() }}" alt="{{ accommodation.localeName }}" /></div>
                            {% endfor %}
                        </div>
                        {% if accommodation.offer %}
                            <div class="circle"><span>Aan-</span><span>bieding</span></div>
                        {% endif %}
                    </div>
                </div>
                <div class="small-12 medium-7 large-7 columns">
                    <div class="accom-desc">
                        <div class="row">
                            <div class="small-12 medium-7 large-8 columns">
                                <div class="location">
                                    <span class="city">{{ place.localeName }}</span>, <span class="area">{{ region.localeName }}</span>, <span class="country">{{ country.localeName }}</span>
                                </div>
                                <div class="title">
                                    {{ ('type.kind.' ~ accommodation.kindIdentifier)|trans|capitalize ~ ' ' ~ accommodation.localeName }}
                                    <span>{{ quality_stars }}</span>
                                </div>
                            </div>
                            <div class="small-12 medium-5 large-4 columns price-details">
                                
                                {% set skipas = true %}
                                {% if accommodation.show == 3 or resale %}
                                    {% set skipas = false %}
                                {% endif %}
                                
                                {% if accommodation.cheapest.price > 0 %}
                                    {% if skipas %}
                                        <span class="price-info">Prijs per persoon per week, vanaf</span>
                                    {% else %}
                                        <span class="price-info">Prijs per accommodatie, vanaf</span>
                                    {% endif %}
                                    <div class="chalet-tooltip loading" data-role="ajax-tooltip" data-id="{{ accommodation.cheapest.id }}" data-season="{{ season }}">
                                        <div class="chalet-tooltip-content" data-role="tooltip-wrapper">
                                            <div data-role="tooltip-content">Bezig met laden...</div>
                                            <span class="nub rtl"></span>
                                        </div>
                                        <span class="price radius">&euro; {{ accommodation.cheapest.price|number_format(0, ',', '.') }},-<i class="fi-info"></i></span>
                                    </div>
                                {% endif %}
                                
                                {% if skipas %}
                                    <span class="price-inc"><i class="sprite sprite-icon-skipass"></i>Inclusief skipas</span>
                                {% endif %}
                                
                            </div>
                        </div>
                        <p>{{ accommodation.localeShortDescription }}</p>
                    </div>
                </div>
            </div>
        </a>

        {{ typesMacro.table(types, accommodation) }}

    </article>

{% endmacro %}