{% set locale  = get_locale() %}
{% set place   = result.getPlace() %}
{% set region  = place.getRegion() %}
{% set country = place.getCountry() %}
{% set types   = result.getTypes() %}
{% set type    = types|first %}
{% set images  = [] %}

{% if all_images[type.getId()] is defined %}
    {% set images = all_images[type.getId()] %}
{% endif %}

<article class="overview{% if offers[type.getId()] is defined %} sale{% endif %}" id="F242">
    <a href="{{ locale_path('show_type', {beginCode: country.getStartCode(), typeId: type.getId()}) }}">
        <div class="row">
            <div class="title-ipad title medium-12 columns">
                {{ result.getName() }} {{ type.getLocaleName(locale) }}
                <span>{% include 'partials/quality_stars.html.twig' with {'quality': 1} %}</span>
            </div>
            <div class="small-12 medium-5 large-5 columns">
                <div class="accom-img">
                    <div class="accom-slides">
                        {% for image in images %}
                        <div><img data-lazy="{{ image.getLocation() }}" alt="{{ result.getName() }} {{ type.getLocaleName(locale) }}" /></div>
                        {% endfor %}
                    </div>
                    {% if offers[type.getId()] is defined %}
                        <div class="circle"><span>Aan-</span><span>bieding</span></div>
                    {% endif %}
                    <div class="heart"><span><i class="fi-heart"></i></span></div>
                </div>
            </div>
            <div class="small-12 medium-7 large-7 columns">
                <div class="accom-desc">
                    <div class="row">
                        <div class="small-12 medium-7 large-8 columns">
                            <div class="location">
                                <span class="area">{{ region.getLocaleName(locale) }}</span>, <span class="city">{{ place.getLocaleName(locale) }}</span>, <span class="country">{{ country.getLocaleName(locale) }}</span>
                            </div>
                            <div class="title">
                                {{ result.getName() }} {{ type.getLocaleName(locale) }}
                                <span><span>{% include 'partials/quality_stars.html.twig' with {'quality': 1} %}</span></span>
                            </div>
                        </div>
                        <div class="small-12 medium-5 large-4 columns price-details">
                            {% if prices[type.getId()] is defined and prices[type.getId()] > 0 %}
                                <span class="price-info">Prijs per persoon per week, vanaf</span>
                                <span class="price has-tip tip-left radius" data-tooltip aria-haspopup="true" title="[uitgebreide prijsinformatie bij dit zoekresultaat]">&euro; {{ prices[type.getId()]|number_format(0, ',', '.') }},-<i class="fi-info"></i></span>
                                <span class="price-inc"><i class="sprite sprite-icon-skipass"></i>Inclusief skipas</span>
                            {% endif %}
                        </div>
                    </div>
                    {% set short_description = type.getLocaleShortDescription(locale) %}
                    {% if short_description is empty %}
                        <p>{{ result.getLocaleShortDescription(locale) }}</p>
                    {% else %}
                        <p>{{ short_description }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </a>
    {% include 'partials/search/types.html.twig' with {'types': types|slice(1), 'prices': prices, 'offers': offers} only %}
</article>