{#

Template-content: search results search-and-book (accommodation-block)

#}
{% macro accommodation(result, cheapest, surveys, all_images, resale, season, price_text, resultset) %}
    {% import 'partials/search/result-types-rows.html.twig' as typesMacro %}

    {% set images  = [] %}

    {% if all_images[cheapest.type_id] is defined %}
        {% set images = all_images[cheapest.type_id] %}
    {% endif %}

    {% set quality_stars %}
        {% include 'partials/quality_stars.html.twig' with {'quality': cheapest.quality} %}
    {% endset %}

    <article class="overview{{ cheapest.offer ? ' sale' }}">
        <a href="{{ locale_path('show_type', {beginCode: cheapest.country_begincode, typeId: cheapest.type_id}) }}" data-role="link-to-accpage">
            <div class="row">
                <div class="title-ipad title medium-12 columns">
                    {{ ('type.kind.' ~ cheapest.kind_identifier)|trans|capitalize ~ ' ' ~ cheapest.accommodation_name ~ ' ' ~ cheapest.type_name }}
                    <span>{{ quality_stars }}</span>
                </div>
                <div class="small-12 medium-5 large-5 columns img-column">
                    <div class="accom-img">
                        <div class="accom-slides">
                            {% for image in images %}
                                <div><img data-lazy="{{ generate_image_path(image)|thumbnail(343, 257) }}" alt="{{ cheapest.accommodation_name ~ ' ' ~ cheapest.type_name }}" /></div>
                            {% endfor %}
                        </div>
                        {% if cheapest.offer %}
                            <div class="circle"><span>Aan-</span><span>bieding</span></div>
                        {% endif %}
                    </div>
                </div>
                <div class="small-12 medium-7 large-7 columns accom-desc-column">
                    <div class="accom-desc">
                        <div class="row">
                            <div class="small-12 medium-7 large-8 columns">
                                <div class="location">
                                    <span class="city">{{ cheapest.place_name }}</span>, <span class="area">{{ cheapest.region_name }}</span>, <span class="country">{{ cheapest.country_name }}</span>
                                </div>
                                <div class="title">
                                    {{ ('type.kind.' ~ cheapest.kind_identifier)|trans|capitalize ~ ' ' ~ cheapest.accommodation_name ~ ' ' ~ cheapest.type_name }}
                                    <span>{{ quality_stars }}</span>
                                </div>
                            </div>
                            <div class="small-12 medium-5 large-4 columns price-details">

                                {% if cheapest.price > 0 %}

                                    <span class="price-info">{{ price_text.getTextBeforePrice(cheapest.price_text_type) }}</span>

                                    <div class="chalet-tooltip loading" data-role="ajax-tooltip" data-url="{{ path('additional_costs_type', {typeId: cheapest.type_id, seasonId: season}) }}">
                                        <div class="chalet-tooltip-content" data-role="tooltip-wrapper">
                                            <div data-role="tooltip-content">
                                                <div class="tooltip-placeholder">Bezig met laden...</div>
                                            </div>
                                            <span class="close"></span>
                                            <span class="nub rtl"></span>
                                        </div>
                                        <span class="price radius">&euro; {{ cheapest.price|number_format(0, ',', '.') }},-<i class="fi-info"></i></span>
                                    </div>
                                {% endif %}
                                <span class="price-inc">
                                    {{ price_text.getTextAfterPrice(cheapest.price_text_type) }}
                                    {% if price_text.hasSkiPass(cheapest.price_text_type) %}
                                        <br /><i class="sprite sprite-icon-skipass"></i>inclusief skipas
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <p>{{ cheapest.accommodation_short_description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        {{ typesMacro.table(result, cheapest, surveys, season, price_text, resultset) }}

    </article>

{% endmacro %}
