{% set persons     = 'persons'|trans|lower %}
{% set bathrooms   = 'bathrooms'|trans|lower %}
{% set bedrooms    = 'bedrooms'|trans|lower %}
{% set minimum     = 'minimum'|trans|lower %}
{% set placeholder = (destination == true ? 'Voeg nog een bestemming toe' : 'Waar wil je naartoe?') %}
{% set selected    = ' selected="selected"' %}

<div class="autocomplete-container">
    <input type="text" name="query" data-role="autocomplete-query" data-type="search-book" id="choose-destination" class="radius" data-focus-text="bijv. bestemming of accommodatie" data-default-placeholder="{{ placeholder }}" placeholder="{{ placeholder }}" autocomplete="off"  />
    <div class="results search-book" data-role="autocomplete-results">
    </div>
</div>
<select class="radius" data-role="change-weekend">
    <option>{{ 'select-when'|trans }}</option>
    {% set arrival_label = 'weekend'|trans %}
    {% set current_weekend = form_filters['weekend'] is defined ? form_filters['weekend'] : 0 %}
    {% for timestamp, weekend in weekends %}
        <option value="{{ timestamp }}"{{ timestamp == current_weekend ? selected }}>{{arrival_label}} {{ weekend }}</option>
    {% endfor %}
</select>
<select class="radius" data-role="change-persons">
    <option value="0">{{ 'select-how-many'|trans }}</option>
    {% set current_persons = form_filters['persons'] is defined ? form_filters['persons'] : 0 %}
    <option value="1"{{ 1 == current_persons ? selected }}>1 {{ 'person'|trans }}</option>
    {% for i in 2..39 %}
        <option value="{{ i }}"{{ i == current_persons ? selected }}>{{ i ~ ' ' ~ persons }}</option>
    {% endfor %}
    <option value="40"{{ 40 == current_persons ? selected }}>40 {{ 'or-more'|trans }} {{ persons }}</option>
</select>
<select class="radius" data-role="change-bedrooms">
    <option value="0">{{ 'select-bedrooms'|trans }}</option>
    {% set current_bedrooms = form_filters['bedrooms'] is defined ? form_filters['bedrooms'] : 0 %}
    <option value="1"{{ 1 == current_bedrooms ? selected }}>1 {{ 'bedroom'|trans }}</option>
    {% for i in 2..10 %}
        <option value="{{ i }}"{{ i == current_bedrooms ? selected }}>{{ minimum }} {{ i }} {{ bedrooms }}</option>
    {% endfor %}
</select>
<select class="radius" data-role="change-bathrooms">
    <option value="0">{{ 'select-bathrooms'|trans }}</option>
    {% set current_bathrooms = form_filters['bathrooms'] is defined ? form_filters['bathrooms'] : 0 %}
    <option value="1"{{ 1 == current_bathrooms ? selected }}>1 {{ 'bathroom'|trans }}</option>
    {% for i in 2..10 %}
        <option value="{{ i }}"{{ i == current_bathrooms ? selected }}>{{ minimum }} {{ i }} {{ bathrooms }}</option>
    {% endfor %}
</select>
