{% set persons   = 'persons'|trans %}
{% set bathrooms = 'bathrooms'|trans %}
{% set bedrooms  = 'bedrooms'|trans %}
<input type="text" id="choose-destination" class="radius" placeholder="Waar wil je naar toe?">
<select class="radius">
    <option value="husker">{{ 'select-when'|trans }}</option>
    <option value="1423868400">weekend 14 februari 2015</option>
    <option value="1424473200">weekend 21 februari 2015</option>
    <option value="1425078000">weekend 28 februari 2015</option>
    <option value="1425682800">weekend 7 maart 2015</option>
    <option value="1426287600">weekend 14 maart 2015</option>
    <option value="1426892400">weekend 21 maart 2015</option>
    <option value="1427497200">weekend 28 maart 2015</option>
    <option value="1428098400">weekend 4 april 2015</option>
    <option value="1428703200">weekend 11 april 2015</option>
    <option value="1429308000">weekend 18 april 2015</option>
    <option value="1429912800">weekend 25 april 2015</option>
    <option value="1430517600">weekend 2 mei 2015</option>
</select>
<select class="radius">
    <option value="hoeveel">{{ 'select-how-many'|trans }}</option>
    <option value="1">1 {{ 'person'|trans }}</option>
    {% for i in 2..39 %}
    <option value="2">2 {{ persons }}</option>
    {% endfor %}
    <option value="40">40 {{ 'or-more'|trans }} {{ persons }}</option>
</select>
<select class="radius">
    <option value="husker">{{ 'select-bedrooms'|trans }}</option>
    <option value="1423868400">1 {{ 'bedroom'|trans }}</option>
    <option value="1423868400">2 {{ bedrooms }}</option>
    <option value="1423868400">3 {{ bedrooms }}</option>
    <option value="1423868400">4 {{ bedrooms }}</option>
    <option value="1423868400">5 {{ bedrooms }}</option>
    <option value="1423868400">6 {{ bedrooms }}</option>
</select>
<select class="radius">
    <option value="husker">{{ 'select-bathrooms'|trans }}</option>
    <option value="1423868400">1 {{ 'bathroom'|trans }}</option>
    <option value="1423868400">2 {{ bathrooms }}</option>
    <option value="1423868400">3 {{ bathrooms }}</option>
    <option value="1423868400">4 {{ bathrooms }}</option>
    <option value="1423868400">5 {{ bathrooms }}</option>
    <option value="1423868400">6 {{ bathrooms }}</option>
</select>