{% set persons     = 'persons'|trans|lower %}
{% set bathrooms   = 'bathrooms'|trans|lower %}
{% set bedrooms    = 'bedrooms'|trans|lower %}
{% set minimum     = 'minimum'|trans|lower %}
{% set placeholder = (destination == true ? 'Voeg nog een bestemming toe' : 'Waar wil je naartoe?') %}
{% set selected    = ' selected="selected"' %}

<div class="autocomplete-container">
    <input type="text" name="query" data-role="autocomplete-query" data-type="search-book" id="choose-destination" class="radius" data-focus-text="bestemming of accommodatie" data-default-placeholder="{{ placeholder }}" placeholder="{{ placeholder }}" autocomplete="off"  />
    <div class="results search-book" data-role="autocomplete-results">
    </div>
</div>
<select class="radius" data-role="change-weekend">
    <option value="">Wanneer wil je aankomen?</option>
    {% set arrival_label_desktop = 'zaterdag'|trans %}
    {% set arrival_label_mobile  = 'za'|trans %}
    {% set current_weekend = form_filters['weekend'] is defined ? form_filters['weekend'] : 0 %}
    {% for timestamp, weekend in weekends %}
        <option data-label-desktop="{{arrival_label_desktop}} {{ weekend }}" data-label-mobile="{{arrival_label_mobile}} {{ weekend }}" value="{{ timestamp }}"{{ timestamp == current_weekend ? selected|raw }}>{{arrival_label_desktop}} {{ weekend }}</option>
    {% endfor %}
</select>
{% if searchFormMessageSearchWithoutDates %}
<div class="msg-search-without-date">
    (omdat een groot deel van de accommodaties nog niet geprijsd is kan het verstandig zijn om zonder aankomstdatum te zoeken)
</div>
{% endif %}
<select class="radius" data-role="change-persons">
    <option value="0" data-smaller-text="{{ 'select-how-many-short'|trans }}">{{ 'select-how-many-short'|trans }}</option>
    {% set current_persons = form_filters['persons'] is defined ? form_filters['persons'] : 0 %}
    <option value="1"{{ 1 == current_persons ? selected|raw }}>1 {{ 'person'|trans }}</option>
    {% for i in 2..39 %}
        <option value="{{ i }}"{{ i == current_persons ? selected|raw }}>{{ i ~ ' ' ~ persons }}</option>
    {% endfor %}
    <option value="40"{{ 40 == current_persons ? selected|raw }}>40 {{ 'or-more'|trans }} {{ persons }}</option>
</select>
<select class="radius" data-role="change-bedrooms">
    <option value="0">{{ 'select-bedrooms'|trans }}</option>
    {% set current_bedrooms = form_filters['bedrooms'] is defined ? form_filters['bedrooms'] : 0 %}
    <option value="1"{{ 1 == current_bedrooms ? selected|raw }}>{{ minimum }} 1 {{ 'bedroom'|trans }}</option>
    {% for i in 2..10 %}
        <option value="{{ i }}"{{ i == current_bedrooms ? selected|raw }}>{{ minimum }} {{ i }} {{ bedrooms }}</option>
    {% endfor %}
</select>
<select class="radius" data-role="change-bathrooms">
    <option value="0">{{ 'select-bathrooms'|trans }}</option>
    {% set current_bathrooms = form_filters['bathrooms'] is defined ? form_filters['bathrooms'] : 0 %}
    <option value="1"{{ 1 == current_bathrooms ? selected|raw }}>{{ minimum }} 1 {{ 'bathroom'|trans }}</option>
    {% for i in 2..10 %}
        <option value="{{ i }}"{{ i == current_bathrooms ? selected|raw }}>{{ minimum }} {{ i }} {{ bathrooms }}</option>
    {% endfor %}
</select>
{% if should_show_internal_info() %}
    <select class="radius" data-role="change-supplier">
        <option value="0">Leverancier</option>
        {% for supplier_id, supplier_name in suppliers %}
            <option value="{{ supplier_id }}">{{ supplier_name }}</option>
        {% endfor %}
    </select>
{% endif %}
