{% extends 'layouts/default.html.twig' %}

{% block breadcrumbs %}
    {{ breadcrumbs() }}
{% endblock %}

{% block body %}

    {{ parent() }}

    <section class="place-page mail-a-friend-page">

        <form name="form-contact" method="post" action="{{ path('process_mail_a_friend', {'beginCode': beginCode, 'typeId': typeId}) }}">
            <div class="row">
                <div class="small-12 medium-8 large-8 columns">

                    <h1>{{ 'mail-a-friend-title'|trans }}</h1>
                
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="from_name"{{ form['errors']['from_name'] is defined ? ' class="error"' : '' }}>{{ 'form-mail-a-friend-from_name'|trans }}
                                <input type="text" id="from_name" name="mail_a_friend[from_name]" value="{{ form['mail_a_friend']['from_name'] }}" />
                            </label>
                            {% if form['errors']['from_name'] is defined %}
                                <small class="error">{{ 'form-mail-a-friend-errors-from_name'|trans }}</small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="from_email"{{ form['errors']['from_email'] is defined ? ' class="error"' : '' }}>{{ 'form-mail-a-friend-from_email'|trans }}
                                <input type="email" id="from_email" name="mail_a_friend[from_email]" value="{{ form['mail_a_friend']['from_email'] }}" />
                            </label>
                            {% if form['errors']['from_email'] is defined %}
                                <small class="error">{{ 'form-mail-a-friend-errors-from_email'|trans }}</small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="to_email"{{ form['errors']['to_email'] is defined ? ' class="error"' : '' }}>{{ 'form-mail-a-friend-to_email'|trans }}
                                <input type="text" pattern="^([\w+-.%]+@[\w-.]+\.[A-Za-z]{2,4},*[\W]*)+$" id="to_email" name="mail_a_friend[to_email]" value="{{ form['mail_a_friend']['to_email'] }}" required />
                            </label>
                            {% if form['errors']['to_email'] is defined %}
                                {% if form['errors']['to_email'] == 'empty' %}
                                    <small class="error">{{ 'form-mail-a-friend-errors-to_email_empty'|trans }}</small>
                                {% endif %}
                                {% if form['errors']['to_email'] == 'invalid' %}
                                    <small class="error">{{ 'form-mail-a-friend-errors-to_email_invalid'|trans }}</small>
                                {% endif %}w
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="message"{{ form['errors']['message'] is defined ? ' class="error"' : '' }}>{{ 'form-mail-a-friend-message'|trans }}
                                <textarea name="mail_a_friend[message]">{{ form['mail_a_friend']['message'] }}</textarea>
                            </label>
                            {% if form['errors']['message'] is defined %}
                                <small class="error">{{ 'form-mail-a-friend-errors-message'|trans }}</small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-4 columns">
                            <input type="submit" class="button" name="submit" value="{{ 'form-mail-a-friend-submit'|trans }}" />
                        </div>
                    </div>
                    <br />
                
                </div>

                {% include 'partials/highlight/highlight.html.twig' with {'highlight': {'type': type}, 'place': type.getAccommodation().getPlace(), 'offers': offers, 'end': true, small_size: 12, medium_size: 4, large_size: 4} only %}
                
            </div>
            
        </form>

    </section>

{% endblock %}