{% extends 'layouts/default.html.twig' %}
{% set locale = get_locale() %}

{% block breadcrumbs %}
    {{ breadcrumbs() }}
{% endblock %}

{% block body %}

    {{ parent() }}

    <section class="landing landing-page contact-page">

        <div class="row">

            <div class="large-8 medium-8 columns">

                <h1>{{ 'privacy-title'|trans }}</h1>
                <p>
                    {{ website.name() }} is a part of the Chalet.nl B.V. umbrella organisation. Chalet.nl B.V. respects the privacy of the visitors of {{ website.name() }} and feels responsible to ensure that your personal information is treated in a confidential manner. The way personal data is processed is in accordance with the Dutch Data Protection Act. In this privacy statement you can read what information we collect, and how we treat this information.
                </p>

                <h2>Usage of your personal data when booking, requesting an option or requesting information</h2>
                <p>
                    When booking, requesting an option or requesting information you are asked to enter some personal data, such as name, address and email address. This information is exclusively used for internal purposes and is not shared with any third party.
                </p>

                <h2>Security</h2>
                <p>
                    All data you give to Chalet.nl B.V. is stored in a secure location.
                </p>

                <h2>Newsletter</h2>
                <p>
                    Chalet.nl B.V. has several newsletters to which you can subscribe. These newsletters inform you if there are unique offers and provide you with news. Your email address is only added to the list of subscribers when we receive your explicit information. Every newsletter you receive will have a link to help you unsubscribe. Our list of subscribers is not shared with any third party.
                </p>

                <h2>Cookies</h2>
                <p>
                    This website uses cookies. These are small text files that a website stores on your pc, tablet or mobile phone. Cookies are used to improve the functioning of a website and to monitor the website visits. All cookies will remain on your machine for a set time. These cookies are stored by Chalet.nl B.V. and by parties with whom Chalet.nl B.V. co-operates. We use the following cookies:
                </p>

                <p>
                    <i>Functional cookies:</i><br></br>
                    These are cookies to help the website function better. These cookies allow your browser to:
                    <ul>
                	    <li>Remember last viewed accommodations</li>
                        <li>Remember saved / favourite accommodations</li>
                        <li>Remember login details</li>
                        <li>Remember form data to help autocomplete</li>
                    </ul>
                </p>

                <p>
                    <i>Measurement cookies:</i><br></br>
                    We use measurement cookies to improve our website and to map the interests and wishes of our visitors. These cookies enable us to monitor how many visitors our website gets, how these visitors have found our website, what pages they visit, what problems they may encounter, etc. These cookies are used to improve the usability of our website.
                </p>

                <p>
                    <i>Cookies from affiliate parties:</i><br></br>
                    Chalet.nl B.V. co-operates with parties who assist us in advertising. With them we share general data regarding the number of bookings and the amount for which these bookings are made. This data allows the parties we co-operate with to improve their advertising. The data we provide them contains no personal information and is not shared with other parties.
                </p>

                <p>
                    <i>Cookies from ad networks:</i><br></br>
                    Our advertisers can store &#39;tracking cookies&#39; on your machines (if you give permission). These cookies are used to track the pages you visit, so they can build a profile from your online behaviour. This profile is also built from information obtained from other websites in their network you visit. This profile is not linked to your name, address, email address etc., but only serves to show you ads that are relevant to your profile.
                </p>

                <p>
                    <i>Social media cookies:</i><br></br>
                    Our website has buttons to promote or share content to networks like Facebook, Google+ and Twitter. These buttons work through snippets of code from Facebook, Google+ and Twitter. This code stores cookies on your machine. We cannot influence the cookies that Facebook, Google+ and Twitter use. Please read Facebook&#39;s, Google+&#39;s, and Twitter&#39;s privacy statements to learn what they do with your cookies.
                </p>

                <h2>Links to other websites</h2>
                <p>
                    Our website can contain links to other websites. Chalet.nl B.V. is not responsible for the privacy policy and content on these websites.
                </p>

                <h2>Contact</h2><p>
                    If you want to know what personal information of you we have stored, or if you have questions / comments about our privacy policy, you can always contact us.
                </p>

            </div>

        </div>

    </section>

{% endblock body %}