{% extends 'layouts/default.html.twig' %}
{% set locale = get_locale() %}

{% block breadcrumbs %}
    {{ breadcrumbs() }}
{% endblock %}

{% block body %}

    {{ parent() }}

    <section class="landing landing-page contact-page">

        <div class="row">

            <div class="large-8 medium-8 columns">

                <h1>{{ 'privacy-title'|trans }}</h1>

                <p>
                    {% if website.type() == constant('WEBSITE_TYPE_VENTURASOL', website) %}

                        {% set organisation = 'Venturasol Vacances' %}

                    {% else %}

                        {{ website.name() }} maakt deel uit van de overkoepelende organisatie Chalet.nl B.V.
                        {% set organisation = 'Chalet.nl B.V.' %}

                    {% endif %}

                    {{ organisation}} respecteert de privacy van bezoekers van {{ website.name() }} en draagt zorg voor de vertrouwelijke wijze waarop de persoonlijke informatie die je ons verschaft, behandeld wordt. De verwerking van de persoonsgegevens is in overeenstemming met de Wet Bescherming Persoonsgegevens.  In het volgende privacy statement kun je lezen welke gegevens wij verzamelen en hoe wij hiermee omgaan.
                </p>

                <h2>Gebruik van je persoonsgegevens bij boeking, optie of informatieaanvraag</h2>
                <p>
                    Bij het plaatsen van een boeking, optie of informatieaanvraag wordt verzocht een aantal persoonlijke gegevens in te voeren, zoals naam, adres en e-mailadres.  Deze gegevens worden uitsluitend voor interne doeleinden gebruikt en niet aan derden verstrekt.
                </p>

                <h2>Beveiliging</h2>
                <p>
                    Alle gegevens die je aan {{ organisation }} verstrekt worden in een beveiligde omgeving opgeslagen.
                </p>

                <h2>Nieuwsbrief</h2>
                <p>
                    {{ organisation }} biedt nieuwsbrieven aan waarmee je op de hoogte gebracht van unieke aanbiedingen en ander nieuws. Je e-mailadres wordt alleen met jouw expliciete toestemming toegevoegd aan de lijst van abonnees. Iedere nieuwsbrief bevat een link waarmee je jezelf kunt afmelden. Het abonneebestand van de nieuwsbrief wordt niet aan derden verstrekt.
                </p>

                <h2>Cookies</h2>
                <p>
                    Deze website maakt gebruik van cookies. Cookies zijn kleine tekstbestanden die door een internetpagina op een pc, tablet of mobiele telefoon worden geplaatst. Deze cookies worden gebruikt om de website beter te laten functioneren en het websitebezoek te monitoren. Alle cookies blijven een beperkte tijd op je computer staan. Deze cookies worden geplaatst door {{ organisation }} zelf en door partijen met wie {{ organisation }} samenwerkt. Wij maken gebruik van de volgende cookies:
                </p>

                <p>
                    <i>Functionele cookies:</i><br />
                    Functionele cookies worden gebruikt om de website beter te laten functioneren. Deze cookies stellen je browser  in staat om:
                    <ul>
                        <li>Laatst bekeken accommodaties te onthouden</li>
                        <li>Bewaarde/Favoriete accommodaties te onthouden</li>
                        <li>Login gegevens te onthouden</li>
                        <li>Ingevoerde formuliergegevens te onthouden</li>
                    </ul>
                </p>

                <p>
                    <i>Meet-cookies:</i><BR />
                    Dankzij Google Analytics zijn wij in staat om te monitoren hoeveel bezoekers onze website heeft, hoe deze bezoekers op onze website zijn terecht gekomen, welke pagina&rsquo;s zij bezoeken, waar zij eventueel tegen problemen aanlopen etc. De cookies van Google Analytics worden dus gebruikt om het gebruiksgemak van onze website te verbeteren. Verder gebruiken wij de cookies van Google Analytics om demografische data en interesses van onze bezoekers in kaart te brengen, zodat wij ons aanbod hier beter om kunnen laten aansluiten. Deze gegevens zijn niet persoonlijk traceerbaar of identificeerbaar. Je kunt je <a href="https://tools.google.com/dlpage/gaoptout/" target="_blank">afmelden voor de Google Analytics-cookies</a>.
                </p>

                <p>
                    Om de wensen, interesses en demografische gegevens van bezoekers in kaart te brengen, maken wij gebruik van Google Analytics.
                </p>

                <p>
                    <i>Cookies van affiliatepartijen:</i><br />
                	{{ organisation }} werkt samen met partijen die ons assisteren bij het adverteren. Met hen delen wij algemene gegevens over gemaakte boekingen en boekingsbedragen, om hen in staat te stellen beter te kunnen adverteren. Deze informatie bevat dus geen persoonsgegevens en zal niet aan derden worden verstrekt.
                </p>

                <p>
                    <i>Cookies van advertentienetwerken:</i><br />
                    Onze adverteerders kunnen &ldquo;tracking cookies&rdquo; op jouw apparatuur plaatsen (hier hoor jij toestemming voor te geven). Deze cookies gebruiken zij om bij te houden welke pagina&rsquo;s je bezoekt uit hun netwerk, om zo een profiel op te bouwen van jouw online surfgedrag. Dit profiel wordt mede opgebouwd op basis van vergelijkbare informatie die zij van jouw bezoek aan andere websites uit hun netwerk krijgen.<br />
                    Dit profiel wordt niet gekoppeld aan jouw naam, adres, e-mailadres en dergelijke zoals bij ons bekend, maar dient alleen om advertenties af te stemmen op jouw profiel zodat deze zo veel mogelijk relevant voor je zijn. Via de sites <a href="http://www.youronlinechoices.com/nl/" target="_blank">YourOnlineChoices.eu</a> en <a href="http://www.google.com/ads/preferences" target="_blank">Google Ads instellingen</a> kun je meer te weten komen over dit soort banners en hoe je hiervoor toestemming in kunt trekken of verlenen.
                </p>

                <p>
                    <i>Social media cookies:</i><br />
                    Op onze website zijn buttons opgenomen om webpagina&rsquo;s te kunnen promoten of delen op sociale netwerken als Facebook, Google+ en Twitter.<br />Deze buttons werken door middel van stukjes code die van Facebook, Google+ en Twitter zelf afkomstig zijn. Door middel van deze code worden cookies geplaatst. Wij hebben daar geen invloed op. Bekijk de privacyverklaring van Facebook, Google+ en Twitter (welke regelmatig kunnen wijzigen) om te lezen wat zij met de (persoons)gegevens die zij via deze cookies verwerken doen.
                </p>

                <p>
                    <b>Afmelden cookies</b><br/>Als je de algemene instellingen voor cookies wilt wijzigen en/of reeds geplaatste cookies wilt verwijderen, dan kun je gebruik maken van de Help-functie van je browser.  Hier kun je de opties vinden om cookies niet meer te accepteren of reeds geplaatste cookies te verwijderen. Dit kan echter wel betekenen dat bepaalde site-onderdelen niet meer naar behoren functioneren.
                </p>

                <h2>Links naar andere websites</h2>
                <p>
                    Deze website kan links naar andere websites bevatten. {{ organisation }} is niet verantwoordelijk voor het privacy-beleid en de content op deze websites.
                </p>

                <h2>Contact</h2>
                <p>
                    Indien je wilt weten welke persoonsgegevens {{ organisation }} van je heeft opgeslagen, of heb je vragen en/of opmerkingen over het privacybeleid van {{ organisation }}, dan kun je altijd <a href="{{ path('contact') }}">contact</a> met ons opnemen.
                </p>

            </div>

        </div>

    </section>

{% endblock body %}