{% extends 'layouts/default.html.twig' %}

{% block breadcrumbs %}
    {{ breadcrumbs() }}
{% endblock %}

{% block body %}
    
    {{ parent() }}

    <section id="search-filter-results">
        <div class="row">
            <div id="search-results">
                <div id="search-filters-active">
                    <table class="no-striping">
                        <thead>
                            <tr>
                                <th colspan="2">Zoekopdrachten</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for searches in saved_searches %}
                            <tr>
                                <td>
                                    {% for filter, search in searches['search'] %}
                                    
                                        {% if search is iterable %}
                                        
                                            {% for term in search %}
                                            
                                                <div>{{ filter|tokenize|trans }}: {{ term|tokenize(filter)|trans }}</div>
                                            
                                            {% endfor %}
                                        
                                        {% else %}
                                    
                                            <div>{{ filter|tokenize|trans }}: {{ search|tokenize(filter)|trans }}</div>
                                        
                                        {% endif %}
                                    
                                    {% endfor %}
                                    <div class="hide"></div>
                                </td>
                                <td class="valign-middle">
                                    <a href="{{ locale_path('search', {'f': searches['search']}) }}" class="button blank small radius">
                                        Zoekresultaten
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    
{% endblock body %}