{% extends 'layouts/default.html.twig' %}

{% set locale                 = get_locale() %}
{% set accommodation          = type.getAccommodation() %}
{% set country, region, place = accommodation.getPlace().getCountry(), accommodation.getPlace().getRegion(), accommodation.getPlace() %}

{%
    set localeData = {

        name: {

            country:       country.getLocaleName(locale),
            region:        region.getLocaleName(locale),
            place:         place.getLocaleName(locale),
            accommodation: accommodation.getLocaleName(locale),
            type:          type.getLocaleName(locale)
        },
        seo:  {

            country: country.getLocaleName(locale),
            region:  region.getLocaleSeoName(locale),
            place:   place.getLocaleSeoName(locale)
        }
    }
%}

{% block breadcrumbs %}

    {{
        breadcrumbs({

            countryName:       localeData['name']['country'],
            regionName:        localeData['name']['region'],
            placeName:         localeData['name']['place'],
            accommodationName: localeData['name']['accommodation']

        }, {

            countrySlug: localeData['seo']['country'],
            regionSlug:  localeData['seo']['region'],
            placeSlug:   localeData['seo']['place'],
            beginCode:   country.getStartCode(),
            typeId:      type.getId()
        })
    }}

{% endblock %}

{% block body %}

    {{ parent() }}

    <section class="price-calculator-page" id="price-calculator">

        {{ form_start(form) }}

        <div class="row">

            {{ form_widget(form.type) }}
            {{ form_widget(form.place) }}

            <div class="small-12 medium-8 large-8 columns">

                <h1>Prijs berekenen</h1>
                <div class="row">
                    <div class="large-12 columns">
                        {{ ('type.kind.' ~ accommodation.getKindIdentifier() )|trans|capitalize ~ ' ' ~ localeData['name']['accommodation'] }} in {{ localeData['name']['place'] }}, {{ localeData['name']['country'] }}
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        {{ form_label(form.person) }}
                        {{ form_widget(form.person) }}
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        {{ form_label(form.weekend) }}
                        {{ form_widget(form.weekend) }}
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        {{ form_widget(form.save) }}
                    </div>
                </div>

            </div>

        </div>

        {{ form_end(form) }}

    </section>

{% endblock body %}