{% extends 'price_calculator/base.html.twig' %}

{% block price_calculator %}

    {{ form_start(form, {'action': path('price_calculator_step_three_' ~ locale, {typeId: type.getId()})}) }}

    <div class="row">

        <div class="small-12 medium-12 large-12 columns">

            <h1>Prijs berekenen</h1>
            <div class="row">
                <div class="large-12 columns">
                    {{ ('type.kind.' ~ accommodation.getKindIdentifier() )|trans|capitalize ~ ' ' ~ localeData['name']['accommodation'] ~ ' ' ~ localeData['name']['type'] }} in {{ localeData['name']['place'] }}, {{ localeData['name']['country'] }}
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <table>
                        <tr>
                            <th>Soort optie</th>
                            <th>Prijs</th>
                            <th>Aantal</th>
                        </tr>
                        <tr>
                            <td><strong>Algemene opties</strong></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2">{{ form_label(form.damage_insurance) }}</td>
                            <td>{{ form_widget(form.damage_insurance) }}</td>
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                        {{ form_row(form.options) }}
                        <tr>
                            <td><strong>Annuleringsverzekering</strong></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {{ form_row(form.cancellation_insurances) }}
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    {{ form_widget(form.save) }}
                </div>
            </div>

        </div>

    </div>

    {{ form_end(form) }}

{% endblock price_calculator %}