    <table class="price-calculator-table">
        <tr>
            <td>Accommodatie</td>
            <td><a href="{{ locale_url('show_type', { beginCode: begin_code, typeId: type_id }) }}">{{ name_type }}</a></td>
        </tr>
        <tr>
            <td>Plaats</td>
            <td>{{ name_place }}</td>
        </tr>
        <tr>
            <td>Aantal personen</td>
            <td>{{ persons }}</td>
        </tr>
        <tr>
            <td>Verblijfsperiode</td>
            <td>{{ arrival_date }} - {{ departure_date }}</td>
        </tr>
    </table>
    <table class="price-calculator-table">
        <tr>
            <th><strong>Samenstelling reissom</strong></th>
            <th width="15"></th>
            <th width="125"></th>
            <th width="75"></th>
            <th width="15"></th>
            <th width="15"></th>
            <th width="125"></th>
            <th></th>
        </tr>
        {% set total = (show == 3 ? price : (price * persons)) %}
        <tr>
            <td>{{ show == 3 ? 'Accommodatie' : 'Accommodatie + skipas' }}</td>
            <td>&euro;</td>
            <td>{{ price|number_format(2, ',', '.') }}</td>
            <td>x {{ (show == 3 ? 1 : persons) }}</td>
            <td>=</td>
            <td>&euro;</td>
            <td>{{ (show == 3 ? price : (price * persons))|number_format(2, ',', '.') }}</td>
            <td></td>
        </tr>
        {% set options_costs = 0 %}
        {% for option_group in options %}
            {% for option in option_group.parts %}
                {% if option.amount > 0 %}
                    <tr>
                        <td>{{ option_group.name }}: {{ option.name }}</td>
                        <td>&euro;</td>
                        <td>{{ option.price|number_format(2, ',', '.') }}</td>
                        <td>x {{ option.amount }}</td>
                        <td>=</td>
                        <td>&euro;</td>
                        <td>{{ (option.price * option.amount)|number_format(2, ',', '.') }}</td>
                        <td>{{ option.discount == true ? 'korting' }}</td>
                    </tr>
                    {% if option.discount %}
                        {% set options_costs = options_costs - (option.price * option.amount) %}
                    {% else %}
                        {% set options_costs = options_costs + (option.price * option.amount) %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% set total = total + options_costs %}
        {% set has_insurance = false %}
        <tr>
            <td colspan="8"></td>
        </tr>
        {% for cancellation_insurance in form_data.cancellation_insurances %}
            {% if cancellation_insurance.amount > 0 %}
                {% set cancellation_insurance_costs = ((price * cancellation_insurance.amount) * (cancellation_insurance.percentage / 100)) %}
                <tr>
                    <td>{{ ('cancellation_insurances.' ~ cancellation_insurance.name)|trans }}</td>
                    <td>&euro;</td>
                    <td>{{ (price * cancellation_insurance.amount)|number_format(2, ',', '.') }}</td>
                    <td>x {{ cancellation_insurance.percentage|number_format(2, ',', '.') }}%</td>
                    <td>=</td>
                    <td>&euro;</td>
                    <td>{{ cancellation_insurance_costs|number_format(2, ',', '.') }}</td>
                    <td></td>
                </tr>
                {% set total = total + cancellation_insurance_costs %}
            {% endif %}
        {% endfor %}
        {% if form_data.damage_insurance == 1 %}
            {% set damage_insurance_costs = type_data.accommodation_price * (type_data.insurances.damage_insurance_percentage / 100) %}
            <tr>
                <td>{{ 'form.price_calculator.step_two.damage_insurance'|trans }}</td>
                <td>&euro;</td>
                <td>{{ type_data.accommodation_price|number_format(2, ',', '.') }}</td>
                <td>x {{ type_data.insurances.damage_insurance_percentage|number_format(2, ',', '.') }}%</td>
                <td>=</td>
                <td>&euro;</td>
                <td>{{ damage_insurance_costs|number_format(2, ',', '.') }}</td>
                <td></td>
            </tr>
            {% set total         = total + damage_insurance_costs %}
            {% set has_insurance = true %}
        {% endif %}
        {% if has_insurance == true and form_data.policyCosts > 0 %}
            {% set policy_costs = form_data.policyCosts %}
            <tr>
                <td>{{ 'form.price_calculator.step_three.policy_costs'|trans }}</td>
                <td>&euro;</td>
                <td>{{ form_data.policyCosts|number_format(2, ',', '.') }}</td>
                <td>x 1</td>
                <td>=</td>
                <td>&euro;</td>
                <td>{{ policy_costs|number_format(2, ',', '.') }}</td>
                <td></td>
            </tr>
            {% set total = total + policy_costs %}
        {% endif %}
        <tr>
            <td>Reserveringskosten &amp; bijdrage calamiteitenfonds</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>&euro;</td>
            <td>{{ reservation_costs|number_format(2, ',', '.') }}</td>
            <td></td>
        </tr>
        {% set total = total + reservation_costs %}
        <tr>
            <td colspan="8"></td>
        </tr>
        <tr>
            <td><strong>Totale reissom</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>&euro;</strong></td>
            <td><strong>{{ total|number_format(2, ',', '.') }}</strong></td>
            <td></td>
        </tr>
    </table>