    <table class="price-calculator-table">
        <tr>
            <td>Accommodatie</td>
            <td><a href="{{ locale_url('show_type', { countryCode: begin_code, typeId: type_id }) }}">{{ name_type }}</a></td>
        </tr>
        <tr>
            <td>Plaats</td>
            <td>{{ name_place }}</td>
        </tr>
        <tr>
            <td>Aantal personen</td>
            <td>{{ persons }}</td>
        </tr>
        <tr>
            <td>Verblijfsperiode</td>
            <td>{{ arrival_date }} - {{ departure_date }}</td>
        </tr>
    </table>
    <table class="price-calculator-table">
        {{ travelsum_table|raw }}
    </table>