{% extends 'layouts/default.html.twig' %}

{% block breadcrumbs %}
    {{ breadcrumbs() }}
{% endblock %}

{% block body %}

    {{ parent() }}

    <section class="landing landing-page contact-page">

        <div class="row">
            <div class="medium-12 columns">
                <h1>{{ 'contact-title'|trans }}</h1>

                <p>Heb je een vraag? Bekijk dan onze <a href="{{ locale_path('page_faq') }}">veelgestelde vragen</a>. Nog geen antwoord op je vraag? Neem dan gerust contact met ons op via onderstaand formulier of per mail, chat of telefoon.
Hulp nodig bij het vinden van je ideale accommodatie? Wij bieden je <a href="{{ locale_path('ask_our_advice') }}">gratis en geheel vrijblijvend advies</a></p>

            </div>
            <div class="large-5 medium-12 columns">


                {% if website_concern.type() == constant('WEBSITE_TYPE_CHALET_TOUR', website_concern) %}

                    {% set faq_title = 'faq'|trans|lower %}
                    {% set faq_link = '<a href="' ~ locale_path('page_faq') ~ '">' ~ faq_title ~ '</a>' %}

                    <p>{{ 'contact-introduction-chalettour'|trans|replace({'%faq_link%': faq_link})|raw }}</p>

                {% endif %}

                <table class="address-block">
                    <tr>
                        <td><strong>{{ 'contact-info'|trans }}</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{{ 'address-title'|trans }}:</td>
                        <td>
                            Wipmolenlaan 3 <br />
                            3447 GJ Woerden
                        </td>
                    </tr>
                    <tr>
                        <td>{{ 'phonenumber'|trans }}:</td>
                        <td><a href="tel:+31-348-434649" class="phone">0348 - 43 46 49</a></td>
                    </tr>
                    <tr>
                        <td>{{ 'email'|trans }}:</td>
                        <td><a href="mailto:info@chalet.nl">info@chalet.nl</a></td>
                    </tr>
                    <tr>
                        <td>Chat:</td>
                        <td>
                            <a href="#" data-role="chat-button" data-id="PTFmcHUgtM" id="contact-chat">
                                <img src="//cdn.livechatinc.com/s3/2618611/2/button/online/080a5ff20ad8bdd77ed00c2216bb4df5.png" alt="live chat software" title="live chat software"/>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'telephone-availability'|trans }}</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{{ 'monday-friday'|trans }}:</td>
                        <td>{{ 'opening-times-week'|trans }} uur</td>
                    </tr>
                    <tr>
                        <td>{{ 'saturday'|trans }}:</td>
                        <td>{{ 'opening-times-weekend'|trans }} uur</td>
                    </tr>
                    <tr>
                        <td>{{ 'sunday'|trans }}:</td>
                        <td>{{ 'closed'|trans }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'remaining-data'|trans }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{{ 'tax-id'|trans }}:</td>
                        <td>NL-8169.23.462.B.01</td>
                    </tr>
                    <tr>
                        <td>{{ 'coc-id'|trans }}:</td>
                        <td>30209634</td>
                    </tr>
                    <tr>
                        <td>{{ 'sgr-id'|trans }}:</td>
                        <td>3199</td>
                    </tr>
                     <tr>
                        <td>ANVR:</td>
                        <td>5180</td>
                    </tr>
                </table>
            </div>
            <div class="large-7 medium-12 columns">

                <strong>{{ 'contact-form-title'|trans }}</strong>
                <form name="form-contact" method="post" action="{{ path('create_contact') }}">
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="name"{{ 'name' in form['errors'] ? ' class="error"' : '' }}>{{ 'form-contact-name'|trans }}
                                <input type="text" id="name" name="contact[name]" value="{{ form['contact']['name'] }}" />
                            </label>
                            {% if 'name' in form['errors'] %}
                                <small class="error">{{ 'form-contact-errors-name'|trans }}</small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="email"{{ 'email' in form['errors'] ? ' class="error"' : '' }}>{{ 'form-contact-email'|trans }}
                                <input type="email" id="email" name="contact[email]" value="{{ form['contact']['email'] }}" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="phonenumber"{{ 'phonenumber' in form['errors'] ? ' class="error"' : '' }}>{{ 'form-contact-phonenumber'|trans }}
                                <input type="tel" id="phonenumber" name="contact[phonenumber]" value="{{ form['contact']['phonenumber'] }}" />
                            </label>
                            {% if 'email' in form['errors'] or 'phonenumber' in form['errors'] %}
                                <small class="error">{{ 'form-contact-errors-email-phonenumber'|trans }}</small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="message"{{ 'message' in form['errors'] ? ' class="error"' : '' }}>{{ 'form-contact-message'|trans }}
                                <textarea name="contact[message]" rows="10">{{ form['contact']['message'] }}</textarea>
                            </label>
                            {% if 'message' in form['errors'] %}
                                <small class="error">{{ 'form-contact-errors-message'|trans }}</small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            * = {{ 'required-field-asterisk'|trans }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns submit-holder">
                            <input type="submit" class="button" name="submit" value="{{ 'form-contact-submit'|trans }}" />
                        </div>
                    </div>
                </form>

            </div>

        </div>

    </section>

{% endblock %}