<div data-role="search-container">
    {% include 'partials/search/form.html.twig' %}
    <div id="search-results" class="small-12 medium-8 large-9 columns" data-role="search-results-container">
        {{ set_paginator(resultset.paginator()) }}
        <div class="search-results-container" data-role="search-results">
            {% include 'partials/search/filters.html.twig' %}
            <hr />
            <div class="row">
                <div class="small-12 medium-6 large-6 columns">
                    <div class="title">{{ count_paginator() }} {{ 'results'|trans }} ({{ search_time }}s)</div>
                </div>
                <div class="small-12 medium-6 large-6 columns">
                    <form>
                        <div class="row">
                            <div class="small-12 columns">
                                <div class="row">
                                    <div class="small-3 columns">
                                        <label for="right-label" class="right inline">{{ 'sort'|trans }}</label>
                                    </div>
                                    <div class="small-9 columns">
                                        <select class="radius">
                                            <option value="1423868400">{{ 'by-price-asc'|trans }}</option>
                                            <option value="1423868400">{{ 'by-price-desc'|trans }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="small-12 medium-12 large-12 columns">
                    {% import 'partials/search/result.html.twig' as resultMacro %}
                    {% set results = resultset.paginator() %}
                    {# {% set images  = search_images(results) %} #}
                    {% for result in results %}
                        {{ resultMacro.accommodation(result) }}
                    {% endfor %}
                </div>
            </div>
            {{ render_paginator() }}
        </div>
    </div>
</div>