{% extends 'layouts/default.html.twig' %}
{% set locale = get_locale() %}

{% block breadcrumbs %}
    {{ breadcrumbs() }}
{% endblock %}

{% block body %}

    {{ parent() }}

    <div class="row">
        <div class="large-12 medium-12 columns theme-intro">
            <h1>{{ 'themes-title'|trans }}</h1>
            <p>Chalet.nl biedt een grote vari&euml;teit aan chalets en luxe appartementen, maar hoe vind je de accommodatie die bij je past? Onderstaande thema's geven alvast wat inspiratie. Heb je specifieke wensen? Neem dan gerust contact met ons op.</p>
        </div>
    </div>

    <section id="area-selected" class="theme-page">

        <div class="row" data-equalizer>

            {% for theme in themes %}

                <div class="small-12 medium-3 large-3 columns{{ (( ((loop.index % 4) is same as(0)) or loop.last) ? ' end' : '') }}">
                    {% if theme.getLocaleExternalUrl(locale) is not empty %}
                        <a href="{{ theme.getLocaleExternalUrl(locale) }}">
                    {% else %}
                        <a href="{{ locale_path('show_theme', {url: theme.getLocaleUrl(locale)}) }}">
                    {% endif %}
                        <article class="overview" data-equalizer-watch>
                            <div class="theme-img">
                                <img src="{{ generate_image_path(theme_image(theme)) }}" alt="{{ theme.getLocaleName(locale) }}" />
                            </div>
                            <div class="accom-desc">
                                <div class="title">{{ theme.getLocaleName(locale) }}</div>
                            </div>
                        </article>
                    </a>
                </div>
                {% if (loop.index % 4) is same as(0) %}
                    </div><div class="row" data-equalizer>
                {% endif %}

            {% endfor %}

        </div>

    </section>

{% endblock body %}