{% extends 'layouts/default.html.twig' %}

{% set locale = get_locale() %}

{% block breadcrumbs %}
    {{ breadcrumbs({theme: theme.getLocaleName(locale)}) }}
{% endblock %}

{% block body %}

    {{ parent() }}

    <section class="landing landing-page contact-page">

        <div class="row theme-intro">

            <div class="medium-12 large-12 columns end">

                <h1>{{ theme.getLocaleName(locale) }}</h1>
                <p>{{ theme.getLocaleDescription(locale)|nl2br }}</p>

                <hr />

            </div>

        </div>

        <div class="row">

            <div class="large-12 columns end">

                {% set images = theme_images(theme) %}
                <ul class="small-block-grid-2 medium-block-grid-4">
                    {% for image in images %}

                    {% if generate_image_path(image) != generate_image_path(theme_image(theme)) %}
                        <li>
                            <img src="{{ generate_image_path(image) }}" alt="{{ theme.getLocaleName(locale) }}" />
                        </li>
                    {% endif %}

                    {% endfor %}
                </ul>
            </div>

        </div>

    </section>

    <section id="search-filter-results">

        <div class="row">
            {% include 'search/results.html.twig' %}
        </div>

    </section>

{% endblock %}