{% extends 'layouts/default.html.twig' %}

{% set locale = get_locale() %}

{% block breadcrumbs %}
    {{ breadcrumbs({theme: theme.getLocaleName(locale)}) }}
{% endblock %}

{% block body %}

    {{ parent() }}

    <section class="landing landing-page contact-page">

        <div class="row">

            <div class="medium-8 large-8 columns">

                <h1>{{ theme.getLocaleName(locale) }}</h1>
                <p>{{ theme.getLocaleDescription(locale)|nl2br }}</p>

                <hr />

            </div>

            <div class="medium-4 large-4 columns end">
                <img src="{{ generate_image_path(theme_image(theme)) }}" alt="{{ theme.getLocaleName(locale) }}" />
            </div>

        </div>

    </section>

    <section id="search-filter-results">

        <div class="row">
            {% include 'search/results.html.twig' %}
        </div>

    </section>

{% endblock %}